# Lambda Expression

In [1]:
# Normal Function - Calculate the Square of the number
def sqnum(num):
    return num ** 2

print(sqnum(10))

100

In [2]:
# Lambda Expressions - Calculate the square of the numbers
sqnum = lambda num : num**2
sqnum(10)

100

In [3]:
# Lambda Expressions - Calculate the Sum of two numbers
addtwonum = lambda num1, num2 : num1+num2
addtwonum(10, 20)

30

In [4]:
# Lambda Expression - Return First Character of the String
strfrstchar = lambda msg : msg[0]
print(strfrstchar("Hello"))

H

In [5]:
# Lambda Expression - Return First Name of the User from Full name
firstname = lambda name : name.split(' ')[0]
print(firstname('Ashman Malhotra'))

Ashman

In [6]:
# Lambda Expression - Reverse the string
strrev = lambda msg : msg[-1::-1]
print(strrev('classroom'))

moorssalc

In [43]:
city = ['  delhi ', '   Jagadhari ', 'Ambala', '    panipat', 'PATIALA', ' Jammu', '  murthal']

In [44]:
city

['  delhi ',
 '   Jagadhari ',
 'Ambala',
 '    panipat',
 'PATIALA',
 ' Jammu',
 '  murthal']

In [45]:
city.sort()

In [46]:
city

['    panipat',
 '   Jagadhari ',
 '  delhi ',
 '  murthal',
 ' Jammu',
 'Ambala',
 'PATIALA']

In [47]:
# The above list is not sorted correctly

In [48]:
# Let's sort it properly with Lambda Expression

In [50]:
city.sort(key=lambda item:item.strip().upper())
city

['Ambala',
 '  delhi ',
 '   Jagadhari ',
 ' Jammu',
 '  murthal',
 '    panipat',
 'PATIALA']