# Reading and writing to files.

#### 1. Reading Files

In [1]:
fr = open("DataText.txt", mode='r')

In [2]:
fr.read()

'This is the first line.\nThis is the second line.\nThis is the third line.\nThis is the fourth line.'

In [3]:
fr.read()

''

In [4]:
fr.tell()

100

In [5]:
filedata = 'This is the first line.\nThis is the second line.\nThis is the third line.\nThis is the fourth line.'
len(filedata)

97

In [6]:
fr.read()

''

In [7]:
fr.seek(0,0)

0

In [8]:
fr.tell()

0

In [9]:
fr.read(10)

'This is th'

In [10]:
fr.read(10)

'e first li'

In [11]:
fr.close()

#### Reading non-existing File

In [14]:
fr = open('somefile.txt', 'r')    # wil throw FileNotFoundError

FileNotFoundError: [Errno 2] No such file or directory: 'somefile.txt'

#### 2. Writing To the File

In [15]:
fw = open("DataTxt.txt", 'w')

In [16]:
fw.write("Let's write something to the file and later on we will check the file content.")

78

In [17]:
fw.close()

In [18]:
# Let's check the content of already existing datatxt.txt file
fr = open("DataTxt.txt", mode="r")
print(fr.read())
fr.close()

Let's write something to the file and later on we will check the file content.

In [19]:
# If File exists - It will be available for writing.
# If File does not exists - It will be created for writing.

In [20]:
fw = open('NewFile.txt', 'w')

In [21]:
fw.write("This is newly created file with Write Mode.")

43

In [22]:
fw.close()

#### 3. Appending Content to the file

In [25]:
# Appending content to the file with mode='a'

In [26]:
fa = open("NewFile.txt", "a")

In [27]:
fa.write("Let's append something to the file with mode='a'")

48

In [28]:
fa.close()

In [29]:
# Let's verify the content of the file by reading this file.
fr = open('NewFile.txt', 'r')
print(fr.read())
fr.close()

This is newly created file with Write Mode.Let's append something to the file with mode='a'

#### 4. Both Appending and Writing to the File

In [30]:
# The mode used is 'a+'

In [31]:
# Let's verify the content of the file by reading this file.
fr = open('NewFile.txt', 'a+')
print(fr.read())

In [32]:
fr.tell()

91

In [33]:
fr.seek(0,0)

0

In [34]:
fr.read()

"This is newly created file with Write Mode.Let's append something to the file with mode='a'"

In [35]:
fr.write("You can also write to this file as the mode is a+.")

50

In [38]:
fr.seek(0,0)

0

In [37]:
fr.read()

"This is newly created file with Write Mode.Let's append something to the file with mode='a'You can also write to this file as the mode is a+."

In [39]:
fr.seek(0,0)

0

In [40]:
fr.write("New Content. ")

13

In [41]:
fr.seek(0, 0)

0

In [42]:
fr.read()

"This is newly created file with Write Mode.Let's append something to the file with mode='a'You can also write to this file as the mode is a+.New Content. "

In [43]:
fr.close()

#### Reading File Line by Line

In [44]:
fr = open('NewFile.txt', 'r')

In [45]:
fr.readline()

'This is newly created file with Write Mode.\n'

In [46]:
fr.readline()

"Let's append something to the file with mode='a'.\n"

In [47]:
fr.readline()

'You can also write to this file as the mode is a+.New Content. '

In [48]:
fr.readline()

''

#### 1. Exercise: Read the content of one file and write it to another.

#### 2. Exercise: 
- Ask user the file name to read.
- Ask user the new file name.
- Write content from read file to write file.

#### 3. Exercise:
- Take input from user to create a file.
- Take content input from the user.
- Save content input by user to the file.

## Reading Comma Seperated File

In [49]:
fr = open('summer.csv', 'r')

In [50]:
fr.read()

'Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal\n1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold\n1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver\n1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze\n1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold\n1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver\n1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze\n1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold\n1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver\n1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze\n1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold\n1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver\n1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze\n1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze\n1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold\n1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver\n1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold\n1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver\n1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze\n1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold\n1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver\n1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze\n1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold\n1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver\n1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze\n1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold\n1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver\n1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze\n1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold\n1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver\n1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold\n1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,High Jump,Silver\n1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,High Jump,Silver\n1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Long Jump,Bronze\n1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,Long Jump,Gold\n1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Long Jump,Silver\n1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze\n1896,Athens,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,Marathon,Gold\n1896,Athens,Athletics,Athletics,"VASILAKOS, Kharilaos",GRE,Men,Marathon,Silver\n1896,Athens,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,Pole Vault,Bronze\n1896,Athens,Athletics,Athletics,"THEODOROPOULOS, Ioannis",GRE,Men,Pole Vault,Bronze\n1896,Athens,Athletics,Athletics,"HOYT, William Welles",USA,Men,Pole Vault,Gold\n1896,Athens,Athletics,Athletics,"TYLER, Albert",USA,Men,Pole Vault,Silver\n1896,Athens,Athletics,Athletics,"PAPASIDERIS, Georgios",GRE,Men,Shot Put,Bronze\n1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Shot Put,Gold\n1896,Athens,Athletics,Athletics,"GOUSKOS, Miltiadis",GRE,Men,Shot Put,Silver\n1896,Athens,Athletics,Athletics,"PERSAKIS, Ioannis",GRE,Men,Triple Jump,Bronze\n1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Triple Jump,Gold\n1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,Triple Jump,Silver\n1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,Individual Road Race,Bronze\n1896,Athens,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,Individual Road Race,Gold\n'

In [51]:
fr.read()

''

In [52]:
fr.seek(0,0)

0

In [53]:
fr.readline()

'Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal\n'

In [54]:
fr.readline()

'1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold\n'

In [55]:
fr.readline()

'1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver\n'

In [58]:
fr.seek(0,0)

0

In [59]:
line = fr.readline()

In [60]:
line

'Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal\n'

In [61]:
fr.seek(0,0)

0

In [62]:
for line in fr:
    print(line)

Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal

1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold

1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver

1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze

1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold

1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze

1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold

1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver

1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze

1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold

1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver

1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze

1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze

1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold

1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver

1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold

1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver

1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze

1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold

1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver

1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze

1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold

1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver

1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze

1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold

1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver

1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze

1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold

1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver

1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold

1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,High Jump,Silver

1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,High Jump,Silver

1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Long Jump,Bronze

1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,Long Jump,Gold

1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Long Jump,Silver

1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze

1896,Athens,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,Marathon,Gold

1896,Athens,Athletics,Athletics,"VASILAKOS, Kharilaos",GRE,Men,Marathon,Silver

1896,Athens,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,Pole Vault,Bronze

1896,Athens,Athletics,Athletics,"THEODOROPOULOS, Ioannis",GRE,Men,Pole Vault,Bronze

1896,Athens,Athletics,Athletics,"HOYT, William Welles",USA,Men,Pole Vault,Gold

1896,Athens,Athletics,Athletics,"TYLER, Albert",USA,Men,Pole Vault,Silver

1896,Athens,Athletics,Athletics,"PAPASIDERIS, Georgios",GRE,Men,Shot Put,Bronze

1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Shot Put,Gold

1896,Athens,Athletics,Athletics,"GOUSKOS, Miltiadis",GRE,Men,Shot Put,Silver

1896,Athens,Athletics,Athletics,"PERSAKIS, Ioannis",GRE,Men,Triple Jump,Bronze

1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Triple Jump,Gold

1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,Triple Jump,Silver

1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,Individual Road Race,Bronze

1896,Athens,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,Individual Road Race,Gold

In [63]:
fr.seek(0,0)
line = fr.readline()

In [64]:
line

'Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal\n'

In [65]:
line[:-1]

'Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal'

In [66]:
fr.seek(0,0)
for line in fr:
    print(line[:-1])

Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze
1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold
1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver
1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze
1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold
1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze
1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver
1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold
1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,High Jump,Silver
1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,High Jump,Silver
1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Long Jump,Bronze
1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,Long Jump,Gold
1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Long Jump,Silver
1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze
1896,Athens,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,Marathon,Gold
1896,Athens,Athletics,Athletics,"VASILAKOS, Kharilaos",GRE,Men,Marathon,Silver
1896,Athens,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,Pole Vault,Bronze
1896,Athens,Athletics,Athletics,"THEODOROPOULOS, Ioannis",GRE,Men,Pole Vault,Bronze
1896,Athens,Athletics,Athletics,"HOYT, William Welles",USA,Men,Pole Vault,Gold
1896,Athens,Athletics,Athletics,"TYLER, Albert",USA,Men,Pole Vault,Silver
1896,Athens,Athletics,Athletics,"PAPASIDERIS, Georgios",GRE,Men,Shot Put,Bronze
1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Shot Put,Gold
1896,Athens,Athletics,Athletics,"GOUSKOS, Miltiadis",GRE,Men,Shot Put,Silver
1896,Athens,Athletics,Athletics,"PERSAKIS, Ioannis",GRE,Men,Triple Jump,Bronze
1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Triple Jump,Gold
1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,Triple Jump,Silver
1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,Individual Road Race,Bronze
1896,Athens,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,Individual Road Race,Gold

In [68]:
fr.seek(0,0)
datalist = []
for line in fr:
    datalist.append(line[:-1].split(','))
print(datalist)

[['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender', 'Event', 'Medal'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"HAJOS', ' Alfred"', 'HUN', 'Men', '100M Freestyle', 'Gold'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"HERSCHMANN', ' Otto"', 'AUT', 'Men', '100M Freestyle', 'Silver'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"DRIVAS', ' Dimitrios"', 'GRE', 'Men', '100M Freestyle For Sailors', 'Bronze'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"MALOKINIS', ' Ioannis"', 'GRE', 'Men', '100M Freestyle For Sailors', 'Gold'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"CHASAPIS', ' Spiridon"', 'GRE', 'Men', '100M Freestyle For Sailors', 'Silver'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"CHOROPHAS', ' Efstathios"', 'GRE', 'Men', '1200M Freestyle', 'Bronze'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"HAJOS', ' Alfred"', 'HUN', 'Men', '1200M Freestyle', 'Gold'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"ANDREOU', ' Joannis"', 'GRE', 'Men', '1200M Freestyle', 'Silver'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"CHOROPHAS', ' Efstathios"', 'GRE', 'Men', '400M Freestyle', 'Bronze'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"NEUMANN', ' Paul"', 'AUT', 'Men', '400M Freestyle', 'Gold'], ['1896', 'Athens', 'Aquatics', 'Swimming', '"PEPANOS', ' Antonios"', 'GRE', 'Men', '400M Freestyle', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"LANE', ' Francis"', 'USA', 'Men', '100M', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"SZOKOLYI', ' Alajos"', 'HUN', 'Men', '100M', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"BURKE', ' Thomas"', 'USA', 'Men', '100M', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"HOFMANN', ' Fritz"', 'GER', 'Men', '100M', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"CURTIS', ' Thomas"', 'USA', 'Men', '110M Hurdles', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GOULDING', ' Grantley"', 'GBR', 'Men', '110M Hurdles', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"LERMUSIAUX', ' Albin"', 'FRA', 'Men', '1500M', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"FLACK', ' Edwin"', 'AUS', 'Men', '1500M', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"BLAKE', ' Arthur"', 'USA', 'Men', '1500M', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GMELIN', ' Charles"', 'GBR', 'Men', '400M', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"BURKE', ' Thomas"', 'USA', 'Men', '400M', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"JAMISON', ' Herbert"', 'USA', 'Men', '400M', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GOLEMIS', ' Dimitrios"', 'GRE', 'Men', '800M', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"FLACK', ' Edwin"', 'AUS', 'Men', '800M', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"DANI', ' Nandor"', 'HUN', 'Men', '800M', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"VERSIS', ' Sotirios"', 'GRE', 'Men', 'Discus Throw', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GARRETT', ' Robert"', 'USA', 'Men', 'Discus Throw', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"PARASKEVOPOULOS', ' Panagiotis"', 'GRE', 'Men', 'Discus Throw', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"CLARK', ' Ellery"', 'USA', 'Men', 'High Jump', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"CONNOLLY', ' James"', 'USA', 'Men', 'High Jump', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GARRETT', ' Robert"', 'USA', 'Men', 'High Jump', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"CONNOLLY', ' James"', 'USA', 'Men', 'Long Jump', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"CLARK', ' Ellery"', 'USA', 'Men', 'Long Jump', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GARRETT', ' Robert"', 'USA', 'Men', 'Long Jump', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"KELLNER', ' Gyula"', 'HUN', 'Men', 'Marathon', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"LOUIS', ' Spyridon"', 'GRE', 'Men', 'Marathon', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"VASILAKOS', ' Kharilaos"', 'GRE', 'Men', 'Marathon', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"DAMASKOS', ' Evangelos"', 'GRE', 'Men', 'Pole Vault', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"THEODOROPOULOS', ' Ioannis"', 'GRE', 'Men', 'Pole Vault', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"HOYT', ' William Welles"', 'USA', 'Men', 'Pole Vault', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"TYLER', ' Albert"', 'USA', 'Men', 'Pole Vault', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"PAPASIDERIS', ' Georgios"', 'GRE', 'Men', 'Shot Put', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GARRETT', ' Robert"', 'USA', 'Men', 'Shot Put', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"GOUSKOS', ' Miltiadis"', 'GRE', 'Men', 'Shot Put', 'Silver'], ['1896', 'Athens', 'Athletics', 'Athletics', '"PERSAKIS', ' Ioannis"', 'GRE', 'Men', 'Triple Jump', 'Bronze'], ['1896', 'Athens', 'Athletics', 'Athletics', '"CONNOLLY', ' James"', 'USA', 'Men', 'Triple Jump', 'Gold'], ['1896', 'Athens', 'Athletics', 'Athletics', '"TUFFERI', ' Alexandre"', 'FRA', 'Men', 'Triple Jump', 'Silver'], ['1896', 'Athens', 'Cycling', 'Cycling Road', '"BATTEL', ' Edward"', 'GBR', 'Men', 'Individual Road Race', 'Bronze'], ['1896', 'Athens', 'Cycling', 'Cycling Road', '"KONSTANTINIDIS', ' Aristidis"', 'GRE', 'Men', 'Individual Road Race', 'Gold']]