# One Dimensional Labelled Array - Series

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
# Create Series containing 60 numbers 101-160
datalist = np.arange(101, 160)
srs1 = pd.Series(datalist)
srs1.head()

0    101
1    102
2    103
3    104
4    105
dtype: int32

In [4]:
print(type(srs1))

<class 'pandas.core.series.Series'>

#### Series containing Boolean Data

In [5]:
boolarray = np.array([True, False, True, False, True, False, True, True, True, True, False])
srs1 = pd.Series(boolarray)

In [6]:
srs1

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7      True
8      True
9      True
10    False
dtype: bool

#### Series containing Mixed Data

In [8]:
boolarray = np.array([True, 34, 'True', 44, 'True', 'False', 23.356, 589562356, None])
srs1 = pd.Series(boolarray)

In [9]:
srs1

0         True
1           34
2         True
3           44
4         True
5        False
6       23.356
7    589562356
8         None
dtype: object

In [10]:
# Series with constant data
pd.Series(5, index=[0,1,2,3,4,5])

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [14]:
# Series of 1st 10 Even numbers
pd.Series(data=[num for num in range(0, 20, 2)], index=[n for n in range(20, 30)])

20     0
21     2
22     4
23     6
24     8
25    10
26    12
27    14
28    16
29    18
dtype: int64

In [15]:
# Series from a dictionary
students = {10:"Ajay", 11:"Kelvin", 12:"Edwin", 13:"Tracey", 14:"Robort"}
pd.Series(students)

10      Ajay
11    Kelvin
12     Edwin
13    Tracey
14    Robort
dtype: object

#### Reading one Column CSV File as Series

In [16]:
srs1 = pd.read_csv('ProductTotalPrice.csv')
srs1.head()

   189.05
0  999.50
1  179.64
2  539.73
3  167.44
4  299.40

In [17]:
type(srs1)

pandas.core.frame.DataFrame

In [18]:
srs1 = pd.read_csv('ProductTotalPrice.csv', header=None)
srs1.head()

        0
0  189.05
1  999.50
2  179.64
3  539.73
4  167.44

In [19]:
type(srs1)

pandas.core.frame.DataFrame

In [20]:
# Let's squeeze one column data as Series
srs1 = pd.read_csv('ProductTotalPrice.csv', header=None, squeeze=True )
srs1.head()

0    189.05
1    999.50
2    179.64
3    539.73
4    167.44
Name: 0, dtype: float64

In [21]:
type(srs1)

pandas.core.series.Series

#### Extracting One Column from a DataSet as a Series

In [25]:
srs1 = pd.read_csv('sales.csv', squeeze=True, usecols=['Total'])

In [27]:
srs1.head()

0    189.05
1    999.50
2    179.64
3    539.73
4    167.44
Name: Total, dtype: float64

In [28]:
srs1.index

RangeIndex(start=0, stop=44, step=1)

In [29]:
srs1.ndim

1

In [30]:
srs1.size

44

In [31]:
srs1.is_unique

False

In [33]:
srs1

0       189.05
1       999.50
2       179.64
3       539.73
4       167.44
5       299.40
6       149.25
7       449.10
8        63.68
9       539.40
10      449.10
11       57.71
12     1619.19
13      174.65
14      250.00
15      255.84
16      251.72
17      575.36
18      299.85
19      479.04
20       86.43
21     1183.26
22      413.54
23     1305.00
24       19.96
25      139.93
26      249.50
27      131.34
28      479.04
29       68.37
30      719.20
31      625.00
32      309.38
33      686.95
34     1005.90
35      825.00
36        9.03
37      151.24
38     1139.43
39       18.06
40       54.89
41     1879.06
42      139.72
43    19627.88
Name: Total, dtype: float64

In [34]:
srs1.is_monotonic_increasing

False

In [35]:
srs1.is_monotonic_decreasing

False

In [36]:
srs1

0       189.05
1       999.50
2       179.64
3       539.73
4       167.44
5       299.40
6       149.25
7       449.10
8        63.68
9       539.40
10      449.10
11       57.71
12     1619.19
13      174.65
14      250.00
15      255.84
16      251.72
17      575.36
18      299.85
19      479.04
20       86.43
21     1183.26
22      413.54
23     1305.00
24       19.96
25      139.93
26      249.50
27      131.34
28      479.04
29       68.37
30      719.20
31      625.00
32      309.38
33      686.95
34     1005.90
35      825.00
36        9.03
37      151.24
38     1139.43
39       18.06
40       54.89
41     1879.06
42      139.72
43    19627.88
Name: Total, dtype: float64

In [37]:
srs1.add_prefix('Py')

Py0       189.05
Py1       999.50
Py2       179.64
Py3       539.73
Py4       167.44
Py5       299.40
Py6       149.25
Py7       449.10
Py8        63.68
Py9       539.40
Py10      449.10
Py11       57.71
Py12     1619.19
Py13      174.65
Py14      250.00
Py15      255.84
Py16      251.72
Py17      575.36
Py18      299.85
Py19      479.04
Py20       86.43
Py21     1183.26
Py22      413.54
Py23     1305.00
Py24       19.96
Py25      139.93
Py26      249.50
Py27      131.34
Py28      479.04
Py29       68.37
Py30      719.20
Py31      625.00
Py32      309.38
Py33      686.95
Py34     1005.90
Py35      825.00
Py36        9.03
Py37      151.24
Py38     1139.43
Py39       18.06
Py40       54.89
Py41     1879.06
Py42      139.72
Py43    19627.88
Name: Total, dtype: float64

In [38]:
srs1.add_suffix('Py').head()

0Py    189.05
1Py    999.50
2Py    179.64
3Py    539.73
4Py    167.44
Name: Total, dtype: float64

In [39]:
srs1.sum()

39255.76000000001

In [40]:
srs1.mean()

892.1763636363638

In [41]:
srs1.median()

299.625

In [42]:
srs1.mode()

0    449.10
1    479.04
dtype: float64

In [43]:
srs1.max()

19627.88

In [44]:
srs1.min()

9.03

In [45]:
srs1.std()

2923.7710907296537

In [46]:
srs1.product()

2.150077919557411e+108

In [47]:
srs1.idxmax()

43

In [49]:
srs1.idxmin()

36

In [51]:
srs1.shape

(44,)

In [52]:
srs1.describe()

count       44.000000
mean       892.176364
std       2923.771091
min          9.030000
25%        146.920000
50%        299.625000
75%        640.487500
max      19627.880000
Name: Total, dtype: float64

# Custom Label Index

In [64]:
temp   = [19, 20, 26, 32, 35, 39, 36, 38, 37, 33, 28, 21]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

In [65]:
tempsrs = pd.Series(data=temp, index=months)
tempsrs

Jan    19
Feb    20
Mar    26
Apr    32
May    35
Jun    39
Jul    36
Aug    38
Sep    37
Oct    33
Nov    28
Dec    21
dtype: int64

In [66]:
tempsrs.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

In [67]:
tempsrs.values

array([19, 20, 26, 32, 35, 39, 36, 38, 37, 33, 28, 21], dtype=int64)

In [68]:
tempsrs.is_unique

True

In [69]:
tempsrs

Jan    19
Feb    20
Mar    26
Apr    32
May    35
Jun    39
Jul    36
Aug    38
Sep    37
Oct    33
Nov    28
Dec    21
dtype: int64

In [70]:
tempsrs.sort_values()

Jan    19
Feb    20
Dec    21
Mar    26
Nov    28
Apr    32
Oct    33
May    35
Jul    36
Sep    37
Aug    38
Jun    39
dtype: int64

In [71]:
tempsrs.sort_index()

Apr    32
Aug    38
Dec    21
Feb    20
Jan    19
Jul    36
Jun    39
Mar    26
May    35
Nov    28
Oct    33
Sep    37
dtype: int64

In [72]:
tempsrs.sort_values(ascending=False)

Jun    39
Aug    38
Sep    37
Jul    36
May    35
Oct    33
Apr    32
Nov    28
Mar    26
Dec    21
Feb    20
Jan    19
dtype: int64

In [73]:
tempsrs

Jan    19
Feb    20
Mar    26
Apr    32
May    35
Jun    39
Jul    36
Aug    38
Sep    37
Oct    33
Nov    28
Dec    21
dtype: int64

In [74]:
tempsrs.sort_values(inplace=True)

In [75]:
tempsrs

Jan    19
Feb    20
Dec    21
Mar    26
Nov    28
Apr    32
Oct    33
May    35
Jul    36
Sep    37
Aug    38
Jun    39
dtype: int64

In [76]:
len(tempsrs)

12

In [77]:
tempsrs.size

12

In [78]:
list(tempsrs)

[19, 20, 21, 26, 28, 32, 33, 35, 36, 37, 38, 39]

In [79]:
dict(tempsrs)

{'Jan': 19,
 'Feb': 20,
 'Dec': 21,
 'Mar': 26,
 'Nov': 28,
 'Apr': 32,
 'Oct': 33,
 'May': 35,
 'Jul': 36,
 'Sep': 37,
 'Aug': 38,
 'Jun': 39}

In [80]:
sorted(tempsrs)

[19, 20, 21, 26, 28, 32, 33, 35, 36, 37, 38, 39]

In [81]:
max(tempsrs)

39

In [82]:
min(tempsrs)

19

In [83]:
tempsrs

Jan    19
Feb    20
Dec    21
Mar    26
Nov    28
Apr    32
Oct    33
May    35
Jul    36
Sep    37
Aug    38
Jun    39
dtype: int64

In [84]:
tempsrs[2]

21

In [87]:
temp   = [19, 20, 26, 32, 35, 39, 36, 38, 37, 33, 28, 21]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
srs = pd.Series(temp, months)
srs

Jan    19
Feb    20
Mar    26
Apr    32
May    35
Jun    39
Jul    36
Aug    38
Sep    37
Oct    33
Nov    28
Dec    21
dtype: int64

In [88]:
srs[2]

26

In [89]:
srs[1:4]

Feb    20
Mar    26
Apr    32
dtype: int64

In [90]:
srs[[0, 5, 11]]

Jan    19
Jun    39
Dec    21
dtype: int64

In [91]:
srs[-2]

28

In [92]:
srs

Jan    19
Feb    20
Mar    26
Apr    32
May    35
Jun    39
Jul    36
Aug    38
Sep    37
Oct    33
Nov    28
Dec    21
dtype: int64

In [93]:
srs[-5:-2]

Aug    38
Sep    37
Oct    33
dtype: int64

In [94]:
srs[0], srs['Jan']

(19, 19)

In [95]:
srs[['Jan', 'Jun', 'Dec']]

Jan    19
Jun    39
Dec    21
dtype: int64

In [97]:
srs.is_unique

True

In [98]:
products = ['Apple', 'Mango', 'Grapes', 'Grapes', 'Grapes', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Mango', 'Mango']
srs1 = pd.Series(products)
srs1

0      Apple
1      Mango
2     Grapes
3     Grapes
4     Grapes
5      Apple
6      Apple
7      Apple
8      Apple
9      Apple
10     Mango
11     Mango
dtype: object

In [99]:
srs1.is_unique

False

In [100]:
srs1.nunique()

3

In [101]:
srs1

0      Apple
1      Mango
2     Grapes
3     Grapes
4     Grapes
5      Apple
6      Apple
7      Apple
8      Apple
9      Apple
10     Mango
11     Mango
dtype: object

In [102]:
srs1.value_counts()

Apple     6
Mango     3
Grapes    3
dtype: int64

# Apply and Map Functions

In [103]:
temp   = [19, 20, 26, 32, 35, 39, 36, 35, 32, 33, 28, 20]    #In Degree Celcius
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
srs1 = pd.Series(temp, months)
srs1.head()

Jan    19
Feb    20
Mar    26
Apr    32
May    35
dtype: int64

In [104]:
# F = C * 1.8 + 32

In [105]:
def tempctof(tempc):
    return((tempc*1.8)+32)

In [106]:
tempctof(30)

86.0

In [108]:
# Using Apply Function

In [109]:
srs1.apply(tempctof)

Jan     66.2
Feb     68.0
Mar     78.8
Apr     89.6
May     95.0
Jun    102.2
Jul     96.8
Aug     95.0
Sep     89.6
Oct     91.4
Nov     82.4
Dec     68.0
dtype: float64

In [110]:
srs1

Jan    19
Feb    20
Mar    26
Apr    32
May    35
Jun    39
Jul    36
Aug    35
Sep    32
Oct    33
Nov    28
Dec    20
dtype: int64

In [112]:
srs1.apply(lambda x : (x*1.8)+32)

Jan     66.2
Feb     68.0
Mar     78.8
Apr     89.6
May     95.0
Jun    102.2
Jul     96.8
Aug     95.0
Sep     89.6
Oct     91.4
Nov     82.4
Dec     68.0
dtype: float64

# Map Function

In [113]:
products = ['Apple', 'Mango', 'Grapes', 'Grapes', 'Grapes', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Mango', 'Mango']
srs2 = pd.Series(products)
srs2

0      Apple
1      Mango
2     Grapes
3     Grapes
4     Grapes
5      Apple
6      Apple
7      Apple
8      Apple
9      Apple
10     Mango
11     Mango
dtype: object

- Apple => 30
- Mango = 50
- Grapes = 60

In [114]:
priced = {'Apple':30, 'Mango':50, 'Grapes':60}

In [116]:
updatedsrs = srs2.map(priced)

In [117]:
updatedsrs

0     30
1     50
2     60
3     60
4     60
5     30
6     30
7     30
8     30
9     30
10    50
11    50
dtype: int64