# One Dimensional Labelled Array - Series

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
# Create Series containing 60 numbers 101-160
datalist = np.arange(101, 160)
srs1 = pd.Series(datalist)
srs1.head()

0    101
1    102
2    103
3    104
4    105
dtype: int32

In [4]:
print(type(srs1))

<class 'pandas.core.series.Series'>

#### Series containing Boolean Data

In [5]:
boolarray = np.array([True, False, True, False, True, False, True, True, True, True, False])
srs1 = pd.Series(boolarray)

In [6]:
srs1

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7      True
8      True
9      True
10    False
dtype: bool

#### Series containing Mixed Data

In [8]:
boolarray = np.array([True, 34, 'True', 44, 'True', 'False', 23.356, 589562356, None])
srs1 = pd.Series(boolarray)

In [9]:
srs1

0         True
1           34
2         True
3           44
4         True
5        False
6       23.356
7    589562356
8         None
dtype: object

In [10]:
# Series with constant data
pd.Series(5, index=[0,1,2,3,4,5])

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [14]:
# Series of 1st 10 Even numbers
pd.Series(data=[num for num in range(0, 20, 2)], index=[n for n in range(20, 30)])

20     0
21     2
22     4
23     6
24     8
25    10
26    12
27    14
28    16
29    18
dtype: int64

In [15]:
# Series from a dictionary
students = {10:"Ajay", 11:"Kelvin", 12:"Edwin", 13:"Tracey", 14:"Robort"}
pd.Series(students)

10      Ajay
11    Kelvin
12     Edwin
13    Tracey
14    Robort
dtype: object

#### Reading one Column CSV File as Series

In [16]:
srs1 = pd.read_csv('ProductTotalPrice.csv')
srs1.head()

   189.05
0  999.50
1  179.64
2  539.73
3  167.44
4  299.40

In [17]:
type(srs1)

pandas.core.frame.DataFrame

In [18]:
srs1 = pd.read_csv('ProductTotalPrice.csv', header=None)
srs1.head()

        0
0  189.05
1  999.50
2  179.64
3  539.73
4  167.44

In [19]:
type(srs1)

pandas.core.frame.DataFrame

In [20]:
# Let's squeeze one column data as Series
srs1 = pd.read_csv('ProductTotalPrice.csv', header=None, squeeze=True )
srs1.head()

0    189.05
1    999.50
2    179.64
3    539.73
4    167.44
Name: 0, dtype: float64

In [21]:
type(srs1)

pandas.core.series.Series

#### Extracting One Column from a DataSet as a Series

In [25]:
srs1 = pd.read_csv('sales.csv', squeeze=True, usecols=['Total'])

In [27]:
srs1.head()

0    189.05
1    999.50
2    179.64
3    539.73
4    167.44
Name: Total, dtype: float64

In [28]:
srs1.index

RangeIndex(start=0, stop=44, step=1)

In [29]:
srs1.ndim

1

In [30]:
srs1.size

44

In [31]:
srs1.is_unique

False

In [33]:
srs1

0       189.05
1       999.50
2       179.64
3       539.73
4       167.44
5       299.40
6       149.25
7       449.10
8        63.68
9       539.40
10      449.10
11       57.71
12     1619.19
13      174.65
14      250.00
15      255.84
16      251.72
17      575.36
18      299.85
19      479.04
20       86.43
21     1183.26
22      413.54
23     1305.00
24       19.96
25      139.93
26      249.50
27      131.34
28      479.04
29       68.37
30      719.20
31      625.00
32      309.38
33      686.95
34     1005.90
35      825.00
36        9.03
37      151.24
38     1139.43
39       18.06
40       54.89
41     1879.06
42      139.72
43    19627.88
Name: Total, dtype: float64

In [34]:
srs1.is_monotonic_increasing

False

In [35]:
srs1.is_monotonic_decreasing

False

In [36]:
srs1

0       189.05
1       999.50
2       179.64
3       539.73
4       167.44
5       299.40
6       149.25
7       449.10
8        63.68
9       539.40
10      449.10
11       57.71
12     1619.19
13      174.65
14      250.00
15      255.84
16      251.72
17      575.36
18      299.85
19      479.04
20       86.43
21     1183.26
22      413.54
23     1305.00
24       19.96
25      139.93
26      249.50
27      131.34
28      479.04
29       68.37
30      719.20
31      625.00
32      309.38
33      686.95
34     1005.90
35      825.00
36        9.03
37      151.24
38     1139.43
39       18.06
40       54.89
41     1879.06
42      139.72
43    19627.88
Name: Total, dtype: float64

In [37]:
srs1.add_prefix('Py')

Py0       189.05
Py1       999.50
Py2       179.64
Py3       539.73
Py4       167.44
Py5       299.40
Py6       149.25
Py7       449.10
Py8        63.68
Py9       539.40
Py10      449.10
Py11       57.71
Py12     1619.19
Py13      174.65
Py14      250.00
Py15      255.84
Py16      251.72
Py17      575.36
Py18      299.85
Py19      479.04
Py20       86.43
Py21     1183.26
Py22      413.54
Py23     1305.00
Py24       19.96
Py25      139.93
Py26      249.50
Py27      131.34
Py28      479.04
Py29       68.37
Py30      719.20
Py31      625.00
Py32      309.38
Py33      686.95
Py34     1005.90
Py35      825.00
Py36        9.03
Py37      151.24
Py38     1139.43
Py39       18.06
Py40       54.89
Py41     1879.06
Py42      139.72
Py43    19627.88
Name: Total, dtype: float64

In [38]:
srs1.add_suffix('Py').head()

0Py    189.05
1Py    999.50
2Py    179.64
3Py    539.73
4Py    167.44
Name: Total, dtype: float64

In [39]:
srs1.sum()

39255.76000000001

In [40]:
srs1.mean()

892.1763636363638

In [41]:
srs1.median()

299.625

In [42]:
srs1.mode()

0    449.10
1    479.04
dtype: float64

In [43]:
srs1.max()

19627.88

In [44]:
srs1.min()

9.03

In [45]:
srs1.std()

2923.7710907296537

In [46]:
srs1.product()

2.150077919557411e+108

In [47]:
srs1.idxmax()

43

In [49]:
srs1.idxmin()

36

In [51]:
srs1.shape

(44,)

In [52]:
srs1.describe()

count       44.000000
mean       892.176364
std       2923.771091
min          9.030000
25%        146.920000
50%        299.625000
75%        640.487500
max      19627.880000
Name: Total, dtype: float64