# Pandas

In [1]:
import numpy  as np
import pandas as pd

In [2]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.4
pytest: None
pip: 19.1.1
setuptools: 40.6.2
Cython: None
numpy: 1.15.2
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 7.0.1
sphinx: None
patsy: 0.5.1
dateutil: 2.7.3
pytz: 2018.5
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: 3.0.0
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: 4.7.1
html5lib: 1.0.1
sqlalchemy: 1.2.12
pymysql: 0.9.3
psycopg2: 2.8.1 (dt dec pq3 ext lo64)
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [3]:
pd.__version__

'0.23.4'

In [4]:
df1 = pd.read_csv("sales.csv")

In [5]:
df1

     Region       Rep     Item  Units  UnitCost     Total
0      East     Jones   Pencil   95.0      1.99    189.05
1   Central    Kivell   Binder   50.0     19.99    999.50
2   Central   Jardine   Pencil   36.0      4.99    179.64
3   Central      Gill      Pen   27.0     19.99    539.73
4      West   Sorvino   Pencil   56.0      2.99    167.44
5      East     Jones   Binder   60.0      4.99    299.40
6   Central   Andrews   Pencil   75.0      1.99    149.25
7   Central   Jardine   Pencil   90.0      4.99    449.10
8      West  Thompson   Pencil   32.0      1.99     63.68
9      East     Jones   Binder   60.0      8.99    539.40
10  Central    Morgan   Pencil   90.0      4.99    449.10
11     East    Howard   Binder   29.0      1.99     57.71
12     East    Parent   Binder   81.0     19.99   1619.19
13     East     Jones   Pencil   35.0      4.99    174.65
14  Central     Smith     Desk    2.0    125.00    250.00
15     East     Jones  Pen Set   16.0     15.99    255.84
16  Central    Morgan   Binder   28.0      8.99    251.72
17     East     Jones      Pen   64.0      8.99    575.36
18     East    Parent      Pen   15.0     19.99    299.85
19  Central    Kivell  Pen Set   96.0      4.99    479.04
20  Central     Smith   Pencil   67.0      1.29     86.43
21     East    Parent  Pen Set   74.0     15.99   1183.26
22  Central      Gill   Binder   46.0      8.99    413.54
23  Central     Smith   Binder   87.0     15.00   1305.00
24     East     Jones   Binder    4.0      4.99     19.96
25     West   Sorvino   Binder    7.0     19.99    139.93
26  Central   Jardine  Pen Set   50.0      4.99    249.50
27  Central   Andrews   Pencil   66.0      1.99    131.34
28     East    Howard      Pen   96.0      4.99    479.04
29  Central      Gill   Pencil   53.0      1.29     68.37
30  Central      Gill   Binder   80.0      8.99    719.20
31  Central    Kivell     Desk    5.0    125.00    625.00
32     East     Jones  Pen Set   62.0      4.99    309.38
33  Central    Morgan  Pen Set   55.0     12.49    686.95
34  Central    Kivell  Pen Set   42.0     23.95   1005.90
35     West   Sorvino     Desk    3.0    275.00    825.00
36  Central      Gill   Pencil    7.0      1.29      9.03
37     West   Sorvino      Pen   76.0      1.99    151.24
38     West  Thompson   Binder   57.0     19.99   1139.43
39  Central   Andrews   Pencil   14.0      1.29     18.06
40  Central   Jardine   Binder   11.0      4.99     54.89
41  Central   Jardine   Binder   94.0     19.99   1879.06
42  Central   Andrews   Binder   28.0      4.99    139.72
43      NaN       NaN      NaN    NaN       NaN  19627.88

In [6]:
df1.head()

    Region      Rep    Item  Units  UnitCost   Total
0     East    Jones  Pencil   95.0      1.99  189.05
1  Central   Kivell  Binder   50.0     19.99  999.50
2  Central  Jardine  Pencil   36.0      4.99  179.64
3  Central     Gill     Pen   27.0     19.99  539.73
4     West  Sorvino  Pencil   56.0      2.99  167.44

In [7]:
df1.tail()

     Region      Rep    Item  Units  UnitCost     Total
39  Central  Andrews  Pencil   14.0      1.29     18.06
40  Central  Jardine  Binder   11.0      4.99     54.89
41  Central  Jardine  Binder   94.0     19.99   1879.06
42  Central  Andrews  Binder   28.0      4.99    139.72
43      NaN      NaN     NaN    NaN       NaN  19627.88

In [9]:
df1.head(10)

    Region       Rep    Item  Units  UnitCost   Total
0     East     Jones  Pencil   95.0      1.99  189.05
1  Central    Kivell  Binder   50.0     19.99  999.50
2  Central   Jardine  Pencil   36.0      4.99  179.64
3  Central      Gill     Pen   27.0     19.99  539.73
4     West   Sorvino  Pencil   56.0      2.99  167.44
5     East     Jones  Binder   60.0      4.99  299.40
6  Central   Andrews  Pencil   75.0      1.99  149.25
7  Central   Jardine  Pencil   90.0      4.99  449.10
8     West  Thompson  Pencil   32.0      1.99   63.68
9     East     Jones  Binder   60.0      8.99  539.40

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
Region      43 non-null object
Rep         43 non-null object
Item        43 non-null object
Units       43 non-null float64
UnitCost    43 non-null float64
Total       44 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.1+ KB

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [14]:
type(df1['Rep'])

pandas.core.series.Series

In [16]:
df1[['Rep', 'Region']]

         Rep   Region
0      Jones     East
1     Kivell  Central
2    Jardine  Central
3       Gill  Central
4    Sorvino     West
5      Jones     East
6    Andrews  Central
7    Jardine  Central
8   Thompson     West
9      Jones     East
10    Morgan  Central
11    Howard     East
12    Parent     East
13     Jones     East
14     Smith  Central
15     Jones     East
16    Morgan  Central
17     Jones     East
18    Parent     East
19    Kivell  Central
20     Smith  Central
21    Parent     East
22      Gill  Central
23     Smith  Central
24     Jones     East
25   Sorvino     West
26   Jardine  Central
27   Andrews  Central
28    Howard     East
29      Gill  Central
30      Gill  Central
31    Kivell  Central
32     Jones     East
33    Morgan  Central
34    Kivell  Central
35   Sorvino     West
36      Gill  Central
37   Sorvino     West
38  Thompson     West
39   Andrews  Central
40   Jardine  Central
41   Jardine  Central
42   Andrews  Central
43       NaN      NaN

In [17]:
type(df1[['Rep', 'Region']])

pandas.core.frame.DataFrame

In [19]:
df2 = pd.read_excel("sales.xlsx", "sales")

In [20]:
df2

     Region       Rep     Item  Units  UnitCost    Total
0      East     Jones   Pencil     95      1.99   189.05
1   Central    Kivell   Binder     50     19.99   999.50
2   Central   Jardine   Pencil     36      4.99   179.64
3   Central      Gill      Pen     27     19.99   539.73
4      West   Sorvino   Pencil     56      2.99   167.44
5      East     Jones   Binder     60      4.99   299.40
6   Central   Andrews   Pencil     75      1.99   149.25
7   Central   Jardine   Pencil     90      4.99   449.10
8      West  Thompson   Pencil     32      1.99    63.68
9      East     Jones   Binder     60      8.99   539.40
10  Central    Morgan   Pencil     90      4.99   449.10
11     East    Howard   Binder     29      1.99    57.71
12     East    Parent   Binder     81     19.99  1619.19
13     East     Jones   Pencil     35      4.99   174.65
14  Central     Smith     Desk      2    125.00   250.00
15     East     Jones  Pen Set     16     15.99   255.84
16  Central    Morgan   Binder     28      8.99   251.72
17     East     Jones      Pen     64      8.99   575.36
18     East    Parent      Pen     15     19.99   299.85
19  Central    Kivell  Pen Set     96      4.99   479.04
20  Central     Smith   Pencil     67      1.29    86.43
21     East    Parent  Pen Set     74     15.99  1183.26
22  Central      Gill   Binder     46      8.99   413.54
23  Central     Smith   Binder     87     15.00  1305.00
24     East     Jones   Binder      4      4.99    19.96
25     West   Sorvino   Binder      7     19.99   139.93
26  Central   Jardine  Pen Set     50      4.99   249.50
27  Central   Andrews   Pencil     66      1.99   131.34
28     East    Howard      Pen     96      4.99   479.04
29  Central      Gill   Pencil     53      1.29    68.37
30  Central      Gill   Binder     80      8.99   719.20
31  Central    Kivell     Desk      5    125.00   625.00
32     East     Jones  Pen Set     62      4.99   309.38
33  Central    Morgan  Pen Set     55     12.49   686.95
34  Central    Kivell  Pen Set     42     23.95  1005.90
35     West   Sorvino     Desk      3    275.00   825.00
36  Central      Gill   Pencil      7      1.29     9.03
37     West   Sorvino      Pen     76      1.99   151.24
38     West  Thompson   Binder     57     19.99  1139.43
39  Central   Andrews   Pencil     14      1.29    18.06
40  Central   Jardine   Binder     11      4.99    54.89
41  Central   Jardine   Binder     94     19.99  1879.06
42  Central   Andrews   Binder     28      4.99   139.72

In [21]:
# pd.read_json()
# pd.sql_table()

In [22]:
df1.head()

    Region      Rep    Item  Units  UnitCost   Total
0     East    Jones  Pencil   95.0      1.99  189.05
1  Central   Kivell  Binder   50.0     19.99  999.50
2  Central  Jardine  Pencil   36.0      4.99  179.64
3  Central     Gill     Pen   27.0     19.99  539.73
4     West  Sorvino  Pencil   56.0      2.99  167.44

In [23]:
df2.head()

    Region      Rep    Item  Units  UnitCost   Total
0     East    Jones  Pencil     95      1.99  189.05
1  Central   Kivell  Binder     50     19.99  999.50
2  Central  Jardine  Pencil     36      4.99  179.64
3  Central     Gill     Pen     27     19.99  539.73
4     West  Sorvino  Pencil     56      2.99  167.44

In [25]:
df1.shape

(44, 6)

In [26]:
df1.shape[0]

44

In [27]:
df1.shape[1]

6

In [30]:
df1.Item.value_counts()

Binder     15
Pencil     13
Pen Set     7
Pen         5
Desk        3
Name: Item, dtype: int64

In [31]:
df1.columns

Index(['Region', 'Rep', 'Item', 'Units', 'UnitCost', 'Total'], dtype='object')

In [32]:
df1.Region.value_counts()

Central    24
East       13
West        6
Name: Region, dtype: int64

In [33]:
df1.Rep.value_counts()

Jones       8
Gill        5
Jardine     5
Kivell      4
Andrews     4
Sorvino     4
Smith       3
Morgan      3
Parent      3
Howard      2
Thompson    2
Name: Rep, dtype: int64

In [35]:
df1.Units.sort_values(ascending=False)

19    96.0
28    96.0
0     95.0
41    94.0
7     90.0
10    90.0
23    87.0
12    81.0
30    80.0
37    76.0
6     75.0
21    74.0
20    67.0
27    66.0
17    64.0
32    62.0
9     60.0
5     60.0
38    57.0
4     56.0
33    55.0
29    53.0
1     50.0
26    50.0
22    46.0
34    42.0
2     36.0
13    35.0
8     32.0
11    29.0
16    28.0
42    28.0
3     27.0
15    16.0
18    15.0
39    14.0
40    11.0
36     7.0
25     7.0
31     5.0
24     4.0
35     3.0
14     2.0
43     NaN
Name: Units, dtype: float64

In [38]:
df2.sort_values(by=['Units'], ascending=False)

     Region       Rep     Item  Units  UnitCost    Total
28     East    Howard      Pen     96      4.99   479.04
19  Central    Kivell  Pen Set     96      4.99   479.04
0      East     Jones   Pencil     95      1.99   189.05
41  Central   Jardine   Binder     94     19.99  1879.06
7   Central   Jardine   Pencil     90      4.99   449.10
10  Central    Morgan   Pencil     90      4.99   449.10
23  Central     Smith   Binder     87     15.00  1305.00
12     East    Parent   Binder     81     19.99  1619.19
30  Central      Gill   Binder     80      8.99   719.20
37     West   Sorvino      Pen     76      1.99   151.24
6   Central   Andrews   Pencil     75      1.99   149.25
21     East    Parent  Pen Set     74     15.99  1183.26
20  Central     Smith   Pencil     67      1.29    86.43
27  Central   Andrews   Pencil     66      1.99   131.34
17     East     Jones      Pen     64      8.99   575.36
32     East     Jones  Pen Set     62      4.99   309.38
9      East     Jones   Binder     60      8.99   539.40
5      East     Jones   Binder     60      4.99   299.40
38     West  Thompson   Binder     57     19.99  1139.43
4      West   Sorvino   Pencil     56      2.99   167.44
33  Central    Morgan  Pen Set     55     12.49   686.95
29  Central      Gill   Pencil     53      1.29    68.37
1   Central    Kivell   Binder     50     19.99   999.50
26  Central   Jardine  Pen Set     50      4.99   249.50
22  Central      Gill   Binder     46      8.99   413.54
34  Central    Kivell  Pen Set     42     23.95  1005.90
2   Central   Jardine   Pencil     36      4.99   179.64
13     East     Jones   Pencil     35      4.99   174.65
8      West  Thompson   Pencil     32      1.99    63.68
11     East    Howard   Binder     29      1.99    57.71
16  Central    Morgan   Binder     28      8.99   251.72
42  Central   Andrews   Binder     28      4.99   139.72
3   Central      Gill      Pen     27     19.99   539.73
15     East     Jones  Pen Set     16     15.99   255.84
18     East    Parent      Pen     15     19.99   299.85
39  Central   Andrews   Pencil     14      1.29    18.06
40  Central   Jardine   Binder     11      4.99    54.89
25     West   Sorvino   Binder      7     19.99   139.93
36  Central      Gill   Pencil      7      1.29     9.03
31  Central    Kivell     Desk      5    125.00   625.00
24     East     Jones   Binder      4      4.99    19.96
35     West   Sorvino     Desk      3    275.00   825.00
14  Central     Smith     Desk      2    125.00   250.00

In [41]:
df2.sort_values(by=['Item', 'Units', 'Rep'], ascending=False)

     Region       Rep     Item  Units  UnitCost    Total
0      East     Jones   Pencil     95      1.99   189.05
10  Central    Morgan   Pencil     90      4.99   449.10
7   Central   Jardine   Pencil     90      4.99   449.10
6   Central   Andrews   Pencil     75      1.99   149.25
20  Central     Smith   Pencil     67      1.29    86.43
27  Central   Andrews   Pencil     66      1.99   131.34
4      West   Sorvino   Pencil     56      2.99   167.44
29  Central      Gill   Pencil     53      1.29    68.37
2   Central   Jardine   Pencil     36      4.99   179.64
13     East     Jones   Pencil     35      4.99   174.65
8      West  Thompson   Pencil     32      1.99    63.68
39  Central   Andrews   Pencil     14      1.29    18.06
36  Central      Gill   Pencil      7      1.29     9.03
19  Central    Kivell  Pen Set     96      4.99   479.04
21     East    Parent  Pen Set     74     15.99  1183.26
32     East     Jones  Pen Set     62      4.99   309.38
33  Central    Morgan  Pen Set     55     12.49   686.95
26  Central   Jardine  Pen Set     50      4.99   249.50
34  Central    Kivell  Pen Set     42     23.95  1005.90
15     East     Jones  Pen Set     16     15.99   255.84
28     East    Howard      Pen     96      4.99   479.04
37     West   Sorvino      Pen     76      1.99   151.24
17     East     Jones      Pen     64      8.99   575.36
3   Central      Gill      Pen     27     19.99   539.73
18     East    Parent      Pen     15     19.99   299.85
31  Central    Kivell     Desk      5    125.00   625.00
35     West   Sorvino     Desk      3    275.00   825.00
14  Central     Smith     Desk      2    125.00   250.00
41  Central   Jardine   Binder     94     19.99  1879.06
23  Central     Smith   Binder     87     15.00  1305.00
12     East    Parent   Binder     81     19.99  1619.19
30  Central      Gill   Binder     80      8.99   719.20
5      East     Jones   Binder     60      4.99   299.40
9      East     Jones   Binder     60      8.99   539.40
38     West  Thompson   Binder     57     19.99  1139.43
1   Central    Kivell   Binder     50     19.99   999.50
22  Central      Gill   Binder     46      8.99   413.54
11     East    Howard   Binder     29      1.99    57.71
16  Central    Morgan   Binder     28      8.99   251.72
42  Central   Andrews   Binder     28      4.99   139.72
40  Central   Jardine   Binder     11      4.99    54.89
25     West   Sorvino   Binder      7     19.99   139.93
24     East     Jones   Binder      4      4.99    19.96

In [42]:
df2

     Region       Rep     Item  Units  UnitCost    Total
0      East     Jones   Pencil     95      1.99   189.05
1   Central    Kivell   Binder     50     19.99   999.50
2   Central   Jardine   Pencil     36      4.99   179.64
3   Central      Gill      Pen     27     19.99   539.73
4      West   Sorvino   Pencil     56      2.99   167.44
5      East     Jones   Binder     60      4.99   299.40
6   Central   Andrews   Pencil     75      1.99   149.25
7   Central   Jardine   Pencil     90      4.99   449.10
8      West  Thompson   Pencil     32      1.99    63.68
9      East     Jones   Binder     60      8.99   539.40
10  Central    Morgan   Pencil     90      4.99   449.10
11     East    Howard   Binder     29      1.99    57.71
12     East    Parent   Binder     81     19.99  1619.19
13     East     Jones   Pencil     35      4.99   174.65
14  Central     Smith     Desk      2    125.00   250.00
15     East     Jones  Pen Set     16     15.99   255.84
16  Central    Morgan   Binder     28      8.99   251.72
17     East     Jones      Pen     64      8.99   575.36
18     East    Parent      Pen     15     19.99   299.85
19  Central    Kivell  Pen Set     96      4.99   479.04
20  Central     Smith   Pencil     67      1.29    86.43
21     East    Parent  Pen Set     74     15.99  1183.26
22  Central      Gill   Binder     46      8.99   413.54
23  Central     Smith   Binder     87     15.00  1305.00
24     East     Jones   Binder      4      4.99    19.96
25     West   Sorvino   Binder      7     19.99   139.93
26  Central   Jardine  Pen Set     50      4.99   249.50
27  Central   Andrews   Pencil     66      1.99   131.34
28     East    Howard      Pen     96      4.99   479.04
29  Central      Gill   Pencil     53      1.29    68.37
30  Central      Gill   Binder     80      8.99   719.20
31  Central    Kivell     Desk      5    125.00   625.00
32     East     Jones  Pen Set     62      4.99   309.38
33  Central    Morgan  Pen Set     55     12.49   686.95
34  Central    Kivell  Pen Set     42     23.95  1005.90
35     West   Sorvino     Desk      3    275.00   825.00
36  Central      Gill   Pencil      7      1.29     9.03
37     West   Sorvino      Pen     76      1.99   151.24
38     West  Thompson   Binder     57     19.99  1139.43
39  Central   Andrews   Pencil     14      1.29    18.06
40  Central   Jardine   Binder     11      4.99    54.89
41  Central   Jardine   Binder     94     19.99  1879.06
42  Central   Andrews   Binder     28      4.99   139.72

In [43]:
df3 = pd.read_csv('summerO.csv')
df3.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [44]:
df3.Gender.value_counts()

Men      22746
Women     8419
Name: Gender, dtype: int64

In [45]:
df2

     Region       Rep     Item  Units  UnitCost    Total
0      East     Jones   Pencil     95      1.99   189.05
1   Central    Kivell   Binder     50     19.99   999.50
2   Central   Jardine   Pencil     36      4.99   179.64
3   Central      Gill      Pen     27     19.99   539.73
4      West   Sorvino   Pencil     56      2.99   167.44
5      East     Jones   Binder     60      4.99   299.40
6   Central   Andrews   Pencil     75      1.99   149.25
7   Central   Jardine   Pencil     90      4.99   449.10
8      West  Thompson   Pencil     32      1.99    63.68
9      East     Jones   Binder     60      8.99   539.40
10  Central    Morgan   Pencil     90      4.99   449.10
11     East    Howard   Binder     29      1.99    57.71
12     East    Parent   Binder     81     19.99  1619.19
13     East     Jones   Pencil     35      4.99   174.65
14  Central     Smith     Desk      2    125.00   250.00
15     East     Jones  Pen Set     16     15.99   255.84
16  Central    Morgan   Binder     28      8.99   251.72
17     East     Jones      Pen     64      8.99   575.36
18     East    Parent      Pen     15     19.99   299.85
19  Central    Kivell  Pen Set     96      4.99   479.04
20  Central     Smith   Pencil     67      1.29    86.43
21     East    Parent  Pen Set     74     15.99  1183.26
22  Central      Gill   Binder     46      8.99   413.54
23  Central     Smith   Binder     87     15.00  1305.00
24     East     Jones   Binder      4      4.99    19.96
25     West   Sorvino   Binder      7     19.99   139.93
26  Central   Jardine  Pen Set     50      4.99   249.50
27  Central   Andrews   Pencil     66      1.99   131.34
28     East    Howard      Pen     96      4.99   479.04
29  Central      Gill   Pencil     53      1.29    68.37
30  Central      Gill   Binder     80      8.99   719.20
31  Central    Kivell     Desk      5    125.00   625.00
32     East     Jones  Pen Set     62      4.99   309.38
33  Central    Morgan  Pen Set     55     12.49   686.95
34  Central    Kivell  Pen Set     42     23.95  1005.90
35     West   Sorvino     Desk      3    275.00   825.00
36  Central      Gill   Pencil      7      1.29     9.03
37     West   Sorvino      Pen     76      1.99   151.24
38     West  Thompson   Binder     57     19.99  1139.43
39  Central   Andrews   Pencil     14      1.29    18.06
40  Central   Jardine   Binder     11      4.99    54.89
41  Central   Jardine   Binder     94     19.99  1879.06
42  Central   Andrews   Binder     28      4.99   139.72

# Boolean Indexing

In [46]:
df2.Item=='Pencil'

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7      True
8      True
9     False
10     True
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37    False
38    False
39     True
40    False
41    False
42    False
Name: Item, dtype: bool

In [47]:
df2[df2.Item=='Pencil']

     Region       Rep    Item  Units  UnitCost   Total
0      East     Jones  Pencil     95      1.99  189.05
2   Central   Jardine  Pencil     36      4.99  179.64
4      West   Sorvino  Pencil     56      2.99  167.44
6   Central   Andrews  Pencil     75      1.99  149.25
7   Central   Jardine  Pencil     90      4.99  449.10
8      West  Thompson  Pencil     32      1.99   63.68
10  Central    Morgan  Pencil     90      4.99  449.10
13     East     Jones  Pencil     35      4.99  174.65
20  Central     Smith  Pencil     67      1.29   86.43
27  Central   Andrews  Pencil     66      1.99  131.34
29  Central      Gill  Pencil     53      1.29   68.37
36  Central      Gill  Pencil      7      1.29    9.03
39  Central   Andrews  Pencil     14      1.29   18.06

In [52]:
df2[df2.Item=='Pencil']['Item'].value_counts()

Pencil    13
Name: Item, dtype: int64

In [54]:
df3.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [57]:
df3[df3.Medal=='Gold']['Gender'].value_counts()

Men      7698
Women    2788
Name: Gender, dtype: int64

In [63]:
df3[df3.Medal=='Gold']['Gender'].value_counts(ascending=True).index[0]

'Women'