# Working with Databases - MySQL Database

In [1]:
import pymysql

#### Connection to the Database

In [8]:
conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()
cursor.close()
conn.close()

#### Creating Table in Database

In [9]:
conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()

sql = """
CREATE TABLE address (id INT(20) PRIMARY KEY AUTO_INCREMENT,
name VARCHAR(50) NOT NULL,
city VARCHAR(50) NOT NULL
);"""

cursor.execute(sql)
cursor.close()
conn.close()

#### Inserting Data to table

In [12]:
conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()

sql1 = " INSERT INTO students (id, fname, lname, city) VALUES (NULL, 'Deepak', 'Bahl', 'Ropar');"
sql2 = " INSERT INTO students (id, fname, lname, city) VALUES (NULL, 'Jagjit', 'Singh', 'Panipat');"

cursor.execute(sql1)
cursor.execute(sql2)

conn.commit()
cursor.close()
conn.close()

#### Querying Data

In [14]:
conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()

sql = "SELECT id, fname, lname, city FROM students;"

cursor.execute(sql)

row = cursor.fetchone()
print(row)

row = cursor.fetchone()
print(row)

cursor.close()
conn.close()

(1, 'Naman', 'Aggarwal', 'New Delhi')
(2, 'Nishant', 'Chaubey', 'Jharkhand')

In [22]:
conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()

sql = "SELECT id, fname, lname, city FROM students;"

cursor.execute(sql)

rows = cursor.fetchmany(5)

print("id\tFName\t\tLName\t\tCity")
print("-"*40)
for row in rows:
    print(row[0], "\t", row[1].strip(), "\t", row[2].strip(), "\t", row[3].strip(), sep="")
    
cursor.close()
conn.close()

id	FName		LName		City
----------------------------------------
1	Naman	Aggarwal	New Delhi
2	Nishant	Chaubey	Jharkhand
3	Mohit	Pandhi	Anritsar
4	Ashman	Malhotra	Patiala
6	Mohit	Kumar	Jagadhari

In [23]:
conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()

sql = "SELECT id, fname, lname, city FROM students;"

cursor.execute(sql)

rows = cursor.fetchall()

print("id\tFName\t\tLName\t\tCity")
print("-"*40)
for row in rows:
    print(row[0], "\t", row[1].strip(), "\t", row[2].strip(), "\t", row[3].strip(), sep="")
    
cursor.close()
conn.close()

id	FName		LName		City
----------------------------------------
1	Naman	Aggarwal	New Delhi
2	Nishant	Chaubey	Jharkhand
3	Mohit	Pandhi	Anritsar
4	Ashman	Malhotra	Patiala
6	Mohit	Kumar	Jagadhari
7	Deepak	Bahl	Ropar
8	Jagjit	Singh	Panipat

In [26]:
import pymysql

conn = pymysql.Connect(host="localhost", user="root", password="", db="msit")
cursor = conn.cursor()

sql = "SELECT id, fname, lname, city FROM students;"

cursor.execute(sql)

rows = cursor.fetchmany(5)

print("{0:<3} {1:<20} {2:<20} {3:<20}" .format('id', 'FName', 'LName', 'City'))
print("-"*63)
for row in rows:
    print('{0:<3} {1:<20} {2:<20} {3:<20}' .format(row[0], row[1], row[2], row[3]))

cursor.close()
conn.close()

id  FName                LName                City
---------------------------------------------------------------
1   Naman                Aggarwal             New Delhi
2   Nishant              Chaubey              Jharkhand
3   Mohit                Pandhi               Anritsar
4   Ashman               Malhotra             Patiala
6   Mohit                Kumar                Jagadhari