# Dictionary

In [2]:
d1 = {1:[2, 3, 4], 2: [12, 13, 14], 3:[45, 34, 12]}

In [3]:
print(type(d1))

<class 'dict'>

In [4]:
d1[1]

[2, 3, 4]

In [5]:
d1[2]

[12, 13, 14]

In [6]:
d1[3]

[45, 34, 12]

In [7]:
d1[4] = 10

In [8]:
d1

{1: [2, 3, 4], 2: [12, 13, 14], 3: [45, 34, 12], 4: 10}

In [9]:
d1[4] = 202

In [10]:
d1

{1: [2, 3, 4], 2: [12, 13, 14], 3: [45, 34, 12], 4: 202}

In [11]:
d1[5] = (10, 20, 30)

In [12]:
d1

{1: [2, 3, 4], 2: [12, 13, 14], 3: [45, 34, 12], 4: 202, 5: (10, 20, 30)}

In [29]:
d1 = {1: [2, 3, 4], 2: [12, 13, 14], 3: [45, 34, [12, 23, 34, [33, 32]]], 4: 202, 5: (10, 20, 30)}

In [14]:
d1

{1: [2, 3, 4],
 2: [12, 13, 14],
 3: [45, 34, [12, 23, 34, [33, 32]]],
 4: 202,
 5: (10, 20, 30)}

In [15]:
d1[3][2][3][1]

32

In [25]:
d1.fromkeys([1, 2, 3, 4, 55], [(20, 33), 30, 40, 50, 60])

{1: [(20, 33), 30, 40, 50, 60],
 2: [(20, 33), 30, 40, 50, 60],
 3: [(20, 33), 30, 40, 50, 60],
 4: [(20, 33), 30, 40, 50, 60],
 55: [(20, 33), 30, 40, 50, 60]}

In [30]:
d1

{1: [2, 3, 4],
 2: [12, 13, 14],
 3: [45, 34, [12, 23, 34, [33, 32]]],
 4: 202,
 5: (10, 20, 30)}

In [31]:
d1.keys()

dict_keys([1, 2, 3, 4, 5])

In [32]:
d1.values()

dict_values([[2, 3, 4], [12, 13, 14], [45, 34, [12, 23, 34, [33, 32]]], 202, (10, 20, 30)])

In [33]:
d1.pop(3)

[45, 34, [12, 23, 34, [33, 32]]]

In [34]:
d1

{1: [2, 3, 4], 2: [12, 13, 14], 4: 202, 5: (10, 20, 30)}

In [35]:
d1.popitem()

(5, (10, 20, 30))

In [36]:
d1.values()

dict_values([[2, 3, 4], [12, 13, 14], 202])

In [37]:
d1

{1: [2, 3, 4], 2: [12, 13, 14], 4: 202}

In [38]:
d1 = {1:11, 2:22, 3:33}
d2 = {22:222}

In [39]:
d1.update(d2)

In [40]:
d1

{1: 11, 2: 22, 3: 33, 22: 222}

In [41]:
# This is a single line comment
a = 10

In [42]:
a

10

In [43]:
'''
This is another way to comments
'''

'\nThis is another way to comments\n'

In [ ]:
len()