### Datasets : http://archive.ics.uci.edu/ml/datasets

In [1]:
import numpy  as np
import pandas as pd

In [2]:
df1 = pd.read_csv('adult.data.csv')
df1.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [3]:
df1 = pd.read_csv('adult.data.csv', header=None)
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
headername = ['age', 'workclass', 'fnlwgt', 'education', 'edu-num', 'marital-status', 'occupation', 
              'relationship', 'race', 'sex', 'cap-gain', 'cap-loss', 'hour-week', 'native-country', 'income' ]

In [5]:
len(headername)

15

In [6]:
df1 = pd.read_csv('adult.data.csv', names=headername )
df1.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df1.index

RangeIndex(start=0, stop=32561, step=1)

In [8]:
df1.size

488415

In [9]:
15*32561

488415

In [10]:
df1.age.size

32561

In [11]:
df1['cap-gain'].size

32561

In [12]:
df1.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'edu-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'cap-gain', 'cap-loss',
       'hour-week', 'native-country', 'income'],
      dtype='object')

In [13]:
df1.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
edu-num            int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
cap-gain           int64
cap-loss           int64
hour-week          int64
native-country    object
income            object
dtype: object

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
edu-num           32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
cap-gain          32561 non-null int64
cap-loss          32561 non-null int64
hour-week         32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
df1.get_dtype_counts()

int64     6
object    9
dtype: int64

In [16]:
df1.axes

[RangeIndex(start=0, stop=32561, step=1),
 Index(['age', 'workclass', 'fnlwgt', 'education', 'edu-num', 'marital-status',
        'occupation', 'relationship', 'race', 'sex', 'cap-gain', 'cap-loss',
        'hour-week', 'native-country', 'income'],
       dtype='object')]

In [17]:
df1.describe()

,age,fnlwgt,edu-num,cap-gain,cap-loss,hour-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

df1.columns

In [19]:
df1['agemonths'] = df1['age'] * 12

In [20]:
df1.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour-week,native-country,income,agemonths
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,468
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,600
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,456
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,636
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,336