In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('olympics.csv')

In [3]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [5]:
df.describe()

            Edition
count  29216.000000
mean    1967.713171
std       32.406293
min     1896.000000
25%     1948.000000
50%     1976.000000
75%     1996.000000
max     2008.000000

In [6]:
df.columns

Index(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC', 'Gender',
       'Event', 'Event_gender', 'Medal'],
      dtype='object')

In [9]:
df[(df.Gender=='Women') & (df.Medal=='Gold')].head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold

- Series.str.startswith()
- Series.str.contains()
- Series.str.isnumeric()

In [11]:
df[df.Athlete.str.contains('ABBOTT')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
17741,Los Angeles,1984,Rowing,Rowing,"MABBOTT, Barrie",NZL,Men,four-oared shell with coxswain (4-),M,Bronze
28488,Beijing,2008,Hockey,Hockey,"ABBOTT, Des",AUS,Men,hockey,M,Bronze
28921,Beijing,2008,Softball,Softball,"ABBOTT, Monica",USA,Women,softball,W,Silver

In [12]:
df[df.Athlete.str.startswith('ABBOTT')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
28488,Beijing,2008,Hockey,Hockey,"ABBOTT, Des",AUS,Men,hockey,M,Bronze
28921,Beijing,2008,Softball,Softball,"ABBOTT, Monica",USA,Women,softball,W,Silver

In [14]:
df[(df.Athlete.str.startswith('ABBOTT')) & (df.Medal=='Gold') ]['Athlete'].value_counts()

ABBOTT, Margaret Ives    1
Name: Athlete, dtype: int64

In [19]:
df[(df.Athlete == 'OWENS, Jesse')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [20]:
df[(df.Athlete == 'OWENS, Jesse')].Event.value_counts()

4x100m relay    1
long jump       1
200m            1
100m            1
Name: Event, dtype: int64

In [24]:
df[(df.Medal=='Gold') & (df.Sport=='Badminton')].NOC.value_counts()

CHN    17
KOR    11
INA     9
DEN     1
Name: NOC, dtype: int64

In [26]:
df[(df.Edition >= 1984) & (df.Medal=='Gold')].NOC.value_counts()

USA    865
GER    237
CHN    234
AUS    211
RUS    192
KOR    139
CUB    138
NED    137
ITA    135
URS    134
FRA    131
ROU    124
GBR    111
HUN    107
EUN     92
ESP     85
CAN     76
YUG     75
GDR     75
DEN     71
JPN     69
FRG     63
BRA     52
NOR     48
ARG     46
NZL     33
UKR     32
POL     31
CRO     31
BUL     24
      ...
BEL      5
LTU      4
UZB      4
ALG      4
SLO      4
POR      4
AZE      4
IRL      4
CHI      3
EST      3
ZIM      2
DOM      2
LAT      2
TPE      2
MGL      2
HKG      1
ISR      1
BDI      1
UAE      1
TUN      1
COL      1
CRC      1
ARM      1
ECU      1
PAN      1
IND      1
EGY      1
SYR      1
MOZ      1
SUR      1
Name: NOC, Length: 86, dtype: int64

<hr>Index

In [27]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [29]:
df.index

RangeIndex(start=0, stop=29216, step=1)

In [34]:
dftemp = df.set_index('Athlete')
dftemp.head(5)

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [35]:
dftemp.reset_index()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver
5,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
6,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
7,"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
8,"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
9,"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
10,"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
11,"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
12,"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
13,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
14,"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver
15,"CURTIS, Thomas",Athens,1896,Athletics,Athletics,USA,Men,110m hurdles,M,Gold
16,"GOULDING, Grantley",Athens,1896,Athletics,Athletics,GBR,Men,110m hurdles,M,Silver
17,"LERMUSIAUX, Albin",Athens,1896,Athletics,Athletics,FRA,Men,1500m,M,Bronze
18,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,1500m,M,Gold
19,"BLAKE, Arthur",Athens,1896,Athletics,Athletics,USA,Men,1500m,M,Silver
20,"GMELIN, Charles",Athens,1896,Athletics,Athletics,GBR,Men,400m,M,Bronze
21,"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Gold
22,"JAMISON, Herbert",Athens,1896,Athletics,Athletics,USA,Men,400m,M,Silver
23,"GOLEMIS, Dimitrios",Athens,1896,Athletics,Athletics,GRE,Men,800m,M,Bronze
24,"FLACK, Edwin",Athens,1896,Athletics,Athletics,AUS,Men,800m,M,Gold
25,"DANI, Nandor",Athens,1896,Athletics,Athletics,HUN,Men,800m,M,Silver
26,"VERSIS, Sotirios",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Bronze
27,"GARRETT, Robert",Athens,1896,Athletics,Athletics,USA,Men,discus throw,M,Gold
28,"PARASKEVOPOULOS, Panagiotis",Athens,1896,Athletics,Athletics,GRE,Men,discus throw,M,Silver
29,"CLARK, Ellery",Athens,1896,Athletics,Athletics,USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,"MUTALIMOV, Marid",Beijing,2008,Wrestling,Wrestling Free.,KAZ,Men,96 - 120kg,M,Bronze
29187,"TAYMAZOV, Artur",Beijing,2008,Wrestling,Wrestling Free.,UZB,Men,96 - 120kg,M,Gold
29188,"AKHMEDOV, Bakhtiyar",Beijing,2008,Wrestling,Wrestling Free.,RUS,Men,96 - 120kg,M,Silver
29189,"AMOYAN, Roman",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,- 55kg,M,Bronze
29190,"PARK, Eun-Chul",Beijing,2008,Wrestling,Wrestling Gre-R,KOR,Men,- 55kg,M,Bronze
29191,"MANKIEV, Nazyr",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,- 55kg,M,Gold
29192,"BAYRAMOV, Rovshan",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,- 55kg,M,Silver
29193,"TENGIZBAYEV, Nurbakyt",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,55 - 60kg,M,Bronze
29194,"TIUMENBAEV, Ruslan",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,55 - 60kg,M,Bronze
29195,"ALBIEV, Islam-Beka",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,55 - 60kg,M,Gold
29196,"RAHIMOV, Vitaliy",Beijing,2008,Wrestling,Wrestling Gre-R,AZE,Men,55 - 60kg,M,Silver
29197,"SIAMIONAU, Mikhail",Beijing,2008,Wrestling,Wrestling Gre-R,BLR,Men,60 - 66kg,M,Bronze
29198,"VARDANYAN, Armen",Beijing,2008,Wrestling,Wrestling Gre-R,UKR,Men,60 - 66kg,M,Bronze
29199,"GUENOT, Steeve",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,60 - 66kg,M,Gold
29200,"BEGALIEV, Kanatbek",Beijing,2008,Wrestling,Wrestling Gre-R,KGZ,Men,60 - 66kg,M,Silver
29201,"GUENOT, Christophe",Beijing,2008,Wrestling,Wrestling Gre-R,FRA,Men,66 - 74kg,M,Bronze
29202,"YANAKIEV, Yavor",Beijing,2008,Wrestling,Wrestling Gre-R,BUL,Men,66 - 74kg,M,Bronze
29203,"KVIRKELIA, Manuchar",Beijing,2008,Wrestling,Wrestling Gre-R,GEO,Men,66 - 74kg,M,Gold
29204,"CHANG, Yongxiang",Beijing,2008,Wrestling,Wrestling Gre-R,CHN,Men,66 - 74kg,M,Silver
29205,"AVLUCA, Nazmi",Beijing,2008,Wrestling,Wrestling Gre-R,TUR,Men,74 - 84kg,M,Bronze
29206,"MINGUZZI, Andrea",Beijing,2008,Wrestling,Wrestling Gre-R,ITA,Men,74 - 84kg,M,Gold
29207,"FODOR, Zoltan",Beijing,2008,Wrestling,Wrestling Gre-R,HUN,Men,74 - 84kg,M,Silver
29208,"MAMBETOV, Asset",Beijing,2008,Wrestling,Wrestling Gre-R,KAZ,Men,84 - 96kg,M,Bronze
29209,"WHEELER, Adam",Beijing,2008,Wrestling,Wrestling Gre-R,USA,Men,84 - 96kg,M,Bronze
29210,"KHUSHTOV, Aslanbek",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,84 - 96kg,M,Gold
29211,"ENGLICH, Mirko",Beijing,2008,Wrestling,Wrestling Gre-R,GER,Men,84 - 96kg,M,Silver
29212,"MIZGAITIS, Mindaugas",Beijing,2008,Wrestling,Wrestling Gre-R,LTU,Men,96 - 120kg,M,Bronze
29213,"PATRIKEEV, Yuri",Beijing,2008,Wrestling,Wrestling Gre-R,ARM,Men,96 - 120kg,M,Bronze
29214,"LOPEZ, Mijain",Beijing,2008,Wrestling,Wrestling Gre-R,CUB,Men,96 - 120kg,M,Gold
29215,"BAROEV, Khasan",Beijing,2008,Wrestling,Wrestling Gre-R,RUS,Men,96 - 120kg,M,Silver

In [39]:
dftemp.reset_index(inplace=True)

In [40]:
dftemp.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

### loc[]

- Label Indexer
- uses []
- Raise eror when items are not found
- DataFrame.loc[] / DataFrame.Series.loc[]

In [41]:
dftemp.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [42]:
dftemp.loc[0]

Athlete          HAJOS, Alfred
City                    Athens
Edition                   1896
Sport                 Aquatics
Discipline            Swimming
NOC                        HUN
Gender                     Men
Event           100m freestyle
Event_gender                 M
Medal                     Gold
Name: 0, dtype: object

In [53]:
dftemp.reset_index(inplace=True)
dftemp.set_index('Athlete', inplace=True)
dftemp.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [54]:
dftemp.loc['HAJOS, Alfred']

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold

In [55]:
dftemp.loc['DRIVAS, Dimitrios']

City                                Athens
Edition                               1896
Sport                             Aquatics
Discipline                        Swimming
NOC                                    GRE
Gender                                 Men
Event           100m freestyle for sailors
Event_gender                             M
Medal                               Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [57]:
dftemp.sort_index()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,vault,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,individual all-round,M,Bronze
"AALTONEN, Paavo Johannes",Helsinki,1952,Gymnastics,Artistic G.,FIN,Men,team competition,M,Bronze
"AAMODT, Ragnhild",Beijing,2008,Handball,Handball,NOR,Women,handball,W,Gold
"AANING, Alf Lied",Antwerp,1920,Gymnastics,Artistic G.,NOR,Men,"team, free system",M,Silver
"AARDENBURG, Willemien",Seoul,1988,Hockey,Hockey,NED,Women,hockey,W,Bronze
"AARDEWIJN, Pepijn",Atlanta,1996,Rowing,Rowing,NED,Men,lightweight double sculls (2x),M,Silver
"AARONES, Ann Kristin",Atlanta,1996,Football,Football,NOR,Women,football,W,Bronze
"AAS, Karl Jan",Antwerp,1920,Gymnastics,Artistic G.,NOR,Men,"team, free system",M,Silver
"AAS, Thomas Valentin",Stockholm,1912,Sailing,Sailing,NOR,Men,8m,X,Gold
"ABAJO, Jose Luis",Beijing,2008,Fencing,Fencing,ESP,Men,épée individual,M,Bronze
"ABAKUMOVA, Maria",Beijing,2008,Athletics,Athletics,RUS,Women,javelin throw,W,Silver
"ABALMASAU, Aliaksei",Beijing,2008,Canoe / Kayak,Canoe / Kayak F,BLR,Men,K-4 1000m (kayak four),M,Gold
"ABALO, Luc",Beijing,2008,Handball,Handball,FRA,Men,handball,M,Gold
"ABANDA ETONG, Patrice",Sydney,2000,Football,Football,CMR,Men,football,M,Gold
"ABARCA, Jose Maria",Atlanta,1996,Aquatics,Water polo,ESP,Men,water polo,M,Gold
"ABAS, Stephen",Athens,2004,Wrestling,Wrestling Free.,USA,Men,- 55kg,M,Silver
"ABASCAL GARCIA, Alejandro",Moscow,1980,Sailing,Sailing,ESP,Men,flying dutchman,X,Gold
"ABASCAL GOMEZ, Jose Manuel",Los Angeles,1984,Athletics,Athletics,ESP,Men,1500m,M,Bronze
"ABASSOVA, Tamilla",Athens,2004,Cycling,Cycling Track,RUS,Women,sprint,W,Silver
"ABATI, Joel",Beijing,2008,Handball,Handball,FRA,Men,handball,M,Gold
"ABAY, Peter",Barcelona,1992,Fencing,Fencing,HUN,Men,sabre team,M,Silver
"ABAY-NEMES, Oszkar",Berlin,1936,Aquatics,Swimming,HUN,Men,4x200m freestyle relay,M,Bronze
"ABBA, Silvano",Berlin,1936,Modern Pentathlon,Modern Pentath.,ITA,Men,Individual competition,M,Bronze
"ABBAGNALE, Agostino",Sydney,2000,Rowing,Rowing,ITA,Men,quadruple sculls without coxswain (4x),M,Gold
...,...,...,...,...,...,...,...,...,...
"ZYBINA, Galina",Tokyo,1964,Athletics,Athletics,URS,Women,shot put,W,Bronze
"ZYBINA, Galina",Melbourne / Stockholm,1956,Athletics,Athletics,URS,Women,shot put,W,Silver
"ZYBINA, Galina",Helsinki,1952,Athletics,Athletics,URS,Women,shot put,W,Gold
"ZYCH, Boguslaw",Moscow,1980,Fencing,Fencing,POL,Men,foil team,M,Bronze
"ZYKINA, Olesya",Sydney,2000,Athletics,Athletics,RUS,Women,4x400m relay,W,Bronze
"ZYKINA, Olesya",Athens,2004,Athletics,Athletics,RUS,Women,4x400m relay,W,Silver
"ZÄHRINGER, Klaus",Rome,1960,Shooting,Shooting,EUA,Men,50m rifle 3 positions (3x40 shots),M,Bronze
"ZÜHLKE, Steffen",Seoul,1988,Rowing,Rowing,GDR,Men,quadruple sculls without coxswain (4x),M,Bronze
"ZÜLOW, Andreas",Seoul,1988,Boxing,Boxing,GDR,Men,57 - 60kg (lightweight),M,Gold
"ZÜRNER, Albert",London,1908,Aquatics,Diving,GER,Men,3m springboard,M,Gold
"ZÜRNER, Albert",Stockholm,1912,Aquatics,Diving,GER,Men,10m platform,M,Silver
"ÖRSTED, Hans-Henrik",Moscow,1980,Cycling,Cycling Track,DEN,Men,Individual Pursuit,M,Bronze
"ÖRTEGREN, Ruben",Stockholm,1912,Shooting,Shooting,SWE,Men,"50m small bore rifle, team",M,Silver
"ÖRVIG, Erik",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1919),X,Gold
"ÖRVIG, Olav",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1919),X,Gold
"ÖRVIG, Thor",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1919),X,Gold
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,"300+600m free rifle, team, prone",M,Silver
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,300m free rifle 3 positions (3x40 shots),M,Bronze
"ÖSTENSEN, Östen",Stockholm,1912,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTENSEN, Östen",Antwerp,1920,Shooting,Shooting,NOR,Men,"50m small bore rifle, team",M,Bronze
"ÖSTERVOLD, Henrik",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTERVOLD, Jan Olsen",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTERVOLD, Kristian Olsen",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTERVOLD, Ole Olsen",Antwerp,1920,Sailing,Sailing,NOR,Men,12m (rating 1907),X,Gold
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze

In [58]:
dftemp.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [59]:
dftemp.sort_index(inplace=True)
dftemp.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold

<hr>

### iloc

- DataFrame.iloc[]
- Allow Pythonic Slicing

In [60]:
dftemp.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold

In [62]:
dftemp.iloc[0]

City                 Paris
Edition               1900
Sport           Tug of War
Discipline      Tug of War
NOC                    ZZX
Gender                 Men
Event           tug of war
Event_gender             M
Medal                 Gold
Name: AABYE, Edgar, dtype: object

In [63]:
dftemp.iloc[1500]

City                       Los Angeles
Edition                           1984
Sport                         Aquatics
Discipline                    Swimming
NOC                                CAN
Gender                             Men
Event           400m individual medley
Event_gender                         M
Medal                             Gold
Name: BAUMANN, Alexander, dtype: object

In [64]:
dftemp.reset_index(inplace=True)
dftemp.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
1,"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
2,"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
3,"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
4,"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold

In [65]:
dftemp.iloc[0]

Athlete         AABYE, Edgar
City                   Paris
Edition                 1900
Sport             Tug of War
Discipline        Tug of War
NOC                      ZZX
Gender                   Men
Event             tug of war
Event_gender               M
Medal                   Gold
Name: 0, dtype: object

In [66]:
dftemp.iloc[[0, 1, 2]]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
1,"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
2,"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze

In [68]:
dftemp.iloc[0:3]

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
1,"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
2,"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze

In [72]:
np1 = np.random.rand(6, 5)
print(np1)
df00 = pd.DataFrame(np1, columns=[0, 1, 2, 3, 4])

[[0.27283564 0.26141452 0.83872896 0.85189388 0.34420778]
 [0.51578461 0.58261808 0.68115621 0.11864558 0.07954802]
 [0.99019941 0.02299132 0.87331179 0.87643046 0.51214251]
 [0.39731838 0.03546568 0.14697446 0.60743642 0.69341404]
 [0.96029782 0.84898633 0.09138186 0.76216868 0.6728106 ]
 [0.01751222 0.37638407 0.66065444 0.24308642 0.98814448]]

In [70]:
df00

          0         1         2         3         4
0  0.445409  0.141158  0.286587  0.105909  0.121320
1  0.407984  0.982673  0.237646  0.019946  0.214562
2  0.171293  0.851126  0.153682  0.198691  0.787864
3  0.435751  0.187733  0.785874  0.399599  0.673141
4  0.307971  0.899638  0.919662  0.725140  0.044343
5  0.501401  0.946899  0.686876  0.831294  0.424016

In [73]:
df00[0:2]

          0         1         2         3         4
0  0.272836  0.261415  0.838729  0.851894  0.344208
1  0.515785  0.582618  0.681156  0.118646  0.079548

In [74]:
np2 = np.random.rand(6, 5)
print(np2)
df01 = pd.DataFrame(np1, columns=['A', 'B', 'C', 'D', 'E'])

[[0.70488621 0.12391455 0.83054235 0.42294278 0.86407102]
 [0.67780873 0.3688259  0.69309194 0.70509592 0.13697864]
 [0.90264493 0.81766058 0.37177289 0.71780163 0.638263  ]
 [0.93514273 0.92208066 0.44271941 0.2777339  0.50631215]
 [0.29489571 0.84524043 0.50560618 0.38954325 0.36054616]
 [0.92929862 0.52014937 0.92423669 0.74310104 0.062638  ]]

In [75]:
df01

          A         B         C         D         E
0  0.272836  0.261415  0.838729  0.851894  0.344208
1  0.515785  0.582618  0.681156  0.118646  0.079548
2  0.990199  0.022991  0.873312  0.876430  0.512143
3  0.397318  0.035466  0.146974  0.607436  0.693414
4  0.960298  0.848986  0.091382  0.762169  0.672811
5  0.017512  0.376384  0.660654  0.243086  0.988144

In [76]:
df01.A

0    0.272836
1    0.515785
2    0.990199
3    0.397318
4    0.960298
5    0.017512
Name: A, dtype: float64

In [79]:
df01['A']

0    0.272836
1    0.515785
2    0.990199
3    0.397318
4    0.960298
5    0.017512
Name: A, dtype: float64

In [80]:
df01[0]    #Throws Error

KeyError: 0

In [81]:
df00[0]    # Works bcz Eolumn Name with number 0 is available

0    0.272836
1    0.515785
2    0.990199
3    0.397318
4    0.960298
5    0.017512
Name: 0, dtype: float64

In [82]:
# GroupBy

In [83]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [85]:
grpedition = df.groupby('Edition')

In [86]:
type(grpedition)

pandas.core.groupby.groupby.DataFrameGroupBy

In [87]:
list(grpedition)

[(1896,        City  Edition          Sport       Discipline  \
  0    Athens     1896       Aquatics         Swimming
  1    Athens     1896       Aquatics         Swimming
  2    Athens     1896       Aquatics         Swimming
  3    Athens     1896       Aquatics         Swimming
  4    Athens     1896       Aquatics         Swimming
  5    Athens     1896       Aquatics         Swimming
  6    Athens     1896       Aquatics         Swimming
  7    Athens     1896       Aquatics         Swimming
  8    Athens     1896       Aquatics         Swimming
  9    Athens     1896       Aquatics         Swimming
  10   Athens     1896       Aquatics         Swimming
  11   Athens     1896      Athletics        Athletics
  12   Athens     1896      Athletics        Athletics
  13   Athens     1896      Athletics        Athletics
  14   Athens     1896      Athletics        Athletics
  15   Athens     1896      Athletics        Athletics
  16   Athens     1896      Athletics        Athletics
  17   Athens     1896      Athletics        Athletics
  18   Athens     1896      Athletics        Athletics
  19   Athens     1896      Athletics        Athletics
  20   Athens     1896      Athletics        Athletics
  21   Athens     1896      Athletics        Athletics
  22   Athens     1896      Athletics        Athletics
  23   Athens     1896      Athletics        Athletics
  24   Athens     1896      Athletics        Athletics
  25   Athens     1896      Athletics        Athletics
  26   Athens     1896      Athletics        Athletics
  27   Athens     1896      Athletics        Athletics
  28   Athens     1896      Athletics        Athletics
  29   Athens     1896      Athletics        Athletics
  ..      ...      ...            ...              ...
  121  Athens     1896       Shooting         Shooting
  122  Athens     1896       Shooting         Shooting
  123  Athens     1896       Shooting         Shooting
  124  Athens     1896       Shooting         Shooting
  125  Athens     1896       Shooting         Shooting
  126  Athens     1896       Shooting         Shooting
  127  Athens     1896       Shooting         Shooting
  128  Athens     1896       Shooting         Shooting
  129  Athens     1896       Shooting         Shooting
  130  Athens     1896       Shooting         Shooting
  131  Athens     1896       Shooting         Shooting
  132  Athens     1896         Tennis           Tennis
  133  Athens     1896         Tennis           Tennis
  134  Athens     1896         Tennis           Tennis
  135  Athens     1896         Tennis           Tennis
  136  Athens     1896         Tennis           Tennis
  137  Athens     1896         Tennis           Tennis
  138  Athens     1896         Tennis           Tennis
  139  Athens     1896         Tennis           Tennis
  140  Athens     1896         Tennis           Tennis
  141  Athens     1896         Tennis           Tennis
  142  Athens     1896  Weightlifting    Weightlifting
  143  Athens     1896  Weightlifting    Weightlifting
  144  Athens     1896  Weightlifting    Weightlifting
  145  Athens     1896  Weightlifting    Weightlifting
  146  Athens     1896  Weightlifting    Weightlifting
  147  Athens     1896  Weightlifting    Weightlifting
  148  Athens     1896      Wrestling  Wrestling Gre-R
  149  Athens     1896      Wrestling  Wrestling Gre-R
  150  Athens     1896      Wrestling  Wrestling Gre-R

                           Athlete  NOC Gender  \
  0                  HAJOS, Alfred  HUN    Men
  1               HERSCHMANN, Otto  AUT    Men
  2              DRIVAS, Dimitrios  GRE    Men
  3             MALOKINIS, Ioannis  GRE    Men
  4             CHASAPIS, Spiridon  GRE    Men
  5          CHOROPHAS, Efstathios  GRE    Men
  6                  HAJOS, Alfred  HUN    Men
  7               ANDREOU, Joannis  GRE    Men
  8          CHOROPHAS, Efstathios  GRE    Men
  9                  NEUMANN, Paul  AUT    Men
  10             PEPANOS, Antonios  GRE    Men
  11                 LANE, Francis  USA    Men
  12              SZOKOLYI, Alajos  HUN    Men
  13                 BURKE, Thomas  USA    Men
  14                HOFMANN, Fritz  GER    Men
  15                CURTIS, Thomas  USA    Men
  16            GOULDING, Grantley  GBR    Men
  17             LERMUSIAUX, Albin  FRA    Men
  18                  FLACK, Edwin  AUS    Men
  19                 BLAKE, Arthur  USA    Men
  20               GMELIN, Charles  GBR    Men
  21                 BURKE, Thomas  USA    Men
  22              JAMISON, Herbert  USA    Men
  23            GOLEMIS, Dimitrios  GRE    Men
  24                  FLACK, Edwin  AUS    Men
  25                  DANI, Nandor  HUN    Men
  26              VERSIS, Sotirios  GRE    Men
  27               GARRETT, Robert  USA    Men
  28   PARASKEVOPOULOS, Panagiotis  GRE    Men
  29                 CLARK, Ellery  USA    Men
  ..                           ...  ...    ...
  121         PHRANGOUDIS, Joannis  GRE    Men
  122         ORPHANIDIS, Georgios  GRE    Men
  123         PHRANGOUDIS, Joannis  GRE    Men
  124                PAINE, Sumner  USA    Men
  125              NIELSEN, Holger  DEN    Men
  126           TRIKUPIS, Nicolaos  GRE    Men
  127         KARASEVDAS, Pantelis  GRE    Men
  128             PAVLIDIS, Pavlos  GRE    Men
  129                JENSEN, Viggo  DEN    Men
  130         ORPHANIDIS, Georgios  GRE    Men
  131         PHRANGOUDIS, Joannis  GRE    Men
  132                 FLACK, Edwin  ZZX    Men
  133     ROBERTSON, George Stuart  ZZX    Men
  134                 BOLAND, John  ZZX    Men
  135             TRAUN, Friedrich  ZZX    Men
  136         KASDAGLIS, Dionysios  ZZX    Men
  137     PETROKOKKINOS, Demetrios  ZZX    Men
  138       PASPATIS, Konstantinos  GRE    Men
  139         TAPAVICZA, Momcsillo  HUN    Men
  140                 BOLAND, John  GBR    Men
  141         KASDAGLIS, Dionysios  GRE    Men
  142     NIKOLOPOULOS, Alexandros  GRE    Men
  143          ELLIOTT, Launceston  GBR    Men
  144                JENSEN, Viggo  DEN    Men
  145             VERSIS, Sotirios  GRE    Men
  146                JENSEN, Viggo  DEN    Men
  147          ELLIOTT, Launceston  GBR    Men
  148     CHRISTOPOULOS, Stephanos  GRE    Men
  149               SCHUMANN, Carl  GER    Men
  150             TSITAS, Georgios  GRE    Men

                                  Event Event_gender   Medal
  0                      100m freestyle            M    Gold
  1                      100m freestyle            M  Silver
  2          100m freestyle for sailors            M  Bronze
  3          100m freestyle for sailors            M    Gold
  4          100m freestyle for sailors            M  Silver
  5                     1200m freestyle            M  Bronze
  6                     1200m freestyle            M    Gold
  7                     1200m freestyle            M  Silver
  8                      400m freestyle            M  Bronze
  9                      400m freestyle            M    Gold
  10                     400m freestyle            M  Silver
  11                               100m            M  Bronze
  12                               100m            M  Bronze
  13                               100m            M    Gold
  14                               100m            M  Silver
  15                       110m hurdles            M    Gold
  16                       110m hurdles            M  Silver
  17                              1500m            M  Bronze
  18                              1500m            M    Gold
  19                              1500m            M  Silver
  20                               400m            M  Bronze
  21                               400m            M    Gold
  22                               400m            M  Silver
  23                               800m            M  Bronze
  24                               800m            M    Gold
  25                               800m            M  Silver
  26                       discus throw            M  Bronze
  27                       discus throw            M    Gold
  28                       discus throw            M  Silver
  29                          high jump            M    Gold
  ..                                ...          ...     ...
  121  25m rapid fire pistol (60 shots)            M    Gold
  122  25m rapid fire pistol (60 shots)            M  Silver
  123             50m pistol (60 shots)            M  Bronze
  124             50m pistol (60 shots)            M    Gold
  125             50m pistol (60 shots)            M  Silver
  126                  army rifle, 200m            M  Bronze
  127                  army rifle, 200m            M    Gold
  128                  army rifle, 200m            M  Silver
  129                  army rifle, 300m            M  Bronze
  130                  army rifle, 300m            M    Gold
  131                  army rifle, 300m            M  Silver
  132                           doubles            M  Bronze
  133                           doubles            M  Bronze
  134                           doubles            M    Gold
  135                           doubles            M    Gold
  136                           doubles            M  Silver
  137                           doubles            M  Silver
  138                           singles            M  Bronze
  139                           singles            M  Bronze
  140                           singles            M    Gold
  141                           singles            M  Silver
  142       heavyweight - one hand lift            M  Bronze
  143       heavyweight - one hand lift            M    Gold
  144       heavyweight - one hand lift            M  Silver
  145       heavyweight - two hand lift            M  Bronze
  146       heavyweight - two hand lift            M    Gold
  147       heavyweight - two hand lift            M  Silver
  148                        open event            M  Bronze
  149                        open event            M    Gold
  150                        open event            M  Silver

  [151 rows x 10 columns]),
 (1900,       City  Edition       Sport  Discipline  \
  151  Paris     1900    Aquatics    Swimming
  152  Paris     1900    Aquatics    Swimming
  153  Paris     1900    Aquatics    Swimming
  154  Paris     1900    Aquatics    Swimming
  155  Paris     1900    Aquatics    Swimming
  156  Paris     1900    Aquatics    Swimming
  157  Paris     1900    Aquatics    Swimming
  158  Paris     1900    Aquatics    Swimming
  159  Paris     1900    Aquatics    Swimming
  160  Paris     1900    Aquatics    Swimming
  161  Paris     1900    Aquatics    Swimming
  162  Paris     1900    Aquatics    Swimming
  163  Paris     1900    Aquatics    Swimming
  164  Paris     1900    Aquatics    Swimming
  165  Paris     1900    Aquatics    Swimming
  166  Paris     1900    Aquatics    Swimming
  167  Paris     1900    Aquatics    Swimming
  168  Paris     1900    Aquatics    Swimming
  169  Paris     1900    Aquatics    Swimming
  170  Paris     1900    Aquatics    Swimming
  171  Paris     1900    Aquatics    Swimming
  172  Paris     1900    Aquatics    Swimming
  173  Paris     1900    Aquatics    Swimming
  174  Paris     1900    Aquatics    Swimming
  175  Paris     1900    Aquatics    Swimming
  176  Paris     1900    Aquatics    Swimming
  177  Paris     1900    Aquatics    Swimming
  178  Paris     1900    Aquatics    Swimming
  179  Paris     1900    Aquatics    Swimming
  180  Paris     1900    Aquatics    Swimming
  ..     ...      ...         ...         ...
  633  Paris     1900      Tennis      Tennis
  634  Paris     1900      Tennis      Tennis
  635  Paris     1900      Tennis      Tennis
  636  Paris     1900      Tennis      Tennis
  637  Paris     1900      Tennis      Tennis
  638  Paris     1900      Tennis      Tennis
  639  Paris     1900      Tennis      Tennis
  640  Paris     1900      Tennis      Tennis
  641  Paris     1900      Tennis      Tennis
  642  Paris     1900      Tennis      Tennis
  643  Paris     1900      Tennis      Tennis
  644  Paris     1900      Tennis      Tennis
  645  Paris     1900      Tennis      Tennis
  646  Paris     1900      Tennis      Tennis
  647  Paris     1900      Tennis      Tennis
  648  Paris     1900      Tennis      Tennis
  649  Paris     1900      Tennis      Tennis
  650  Paris     1900      Tennis      Tennis
  651  Paris     1900  Tug of War  Tug of War
  652  Paris     1900  Tug of War  Tug of War
  653  Paris     1900  Tug of War  Tug of War
  654  Paris     1900  Tug of War  Tug of War
  655  Paris     1900  Tug of War  Tug of War
  656  Paris     1900  Tug of War  Tug of War
  657  Paris     1900  Tug of War  Tug of War
  658  Paris     1900  Tug of War  Tug of War
  659  Paris     1900  Tug of War  Tug of War
  660  Paris     1900  Tug of War  Tug of War
  661  Paris     1900  Tug of War  Tug of War
  662  Paris     1900  Tug of War  Tug of War

                                 Athlete  NOC Gender                Event  \
  151                     HALMAY, Zoltan  HUN    Men      1500m freestyle
  152                JARVIS, John Arthur  GBR    Men      1500m freestyle
  153                        WAHLE, Otto  AUT    Men      1500m freestyle
  154                    DROST, Johannes  NED    Men      200m backstroke
  155                  HOPPENBERG, Ernst  GER    Men      200m backstroke
  156                       RUBERL, Karl  AUT    Men      200m backstroke
  157                       RUBERL, Karl  AUT    Men       200m freestyle
  158               LANE, Frederick C.V.  AUS    Men       200m freestyle
  159                     HALMAY, Zoltan  HUN    Men       200m freestyle
  160                        KEMP, Peter  GBR    Men  200m obstacle event
  161               LANE, Frederick C.V.  AUS    Men  200m obstacle event
  162                        WAHLE, Otto  AUT    Men  200m obstacle event
  163                             HOUBEN  FRA    Men   200m team swimming
  164                   LEUILLIEUX, Jean  FRA    Men   200m team swimming
  165                      MARTIN, Louis  FRA    Men   200m team swimming
  166                    MERCHEZ, Désiré  FRA    Men   200m team swimming
  167                            TARTARA  FRA    Men   200m team swimming
  168                       FREY, Julius  GER    Men   200m team swimming
  169                        HAINLE, Max  GER    Men   200m team swimming
  170                  HOPPENBERG, Ernst  GER    Men   200m team swimming
  171                        SCHÖNE, Max  GER    Men   200m team swimming
  172           VON PETERSDORFF, Herbert  GER    Men   200m team swimming
  173                           BERTRAND  FRA    Men   200m team swimming
  174                              CADET  FRA    Men   200m team swimming
  175                 HOCHEPIED, Maurice  FRA    Men   200m team swimming
  176                  HOCHEPIED, Victor  FRA    Men   200m team swimming
  177                           VERBECKE  FRA    Men   200m team swimming
  178                      MARTIN, Louis  FRA    Men      4000m freestyle
  179                JARVIS, John Arthur  GBR    Men      4000m freestyle
  180                     HALMAY, Zoltan  HUN    Men      4000m freestyle
  ..                                 ...  ...    ...                  ...
  633       DE GARMENDIA, Basil Spalding  ZZX    Men              doubles
  634                       DECUGIS, Max  ZZX    Men              doubles
  635             DOHERTY, Hugh Lawrence  ZZX    Men        mixed doubles
  636               WARDEN, Archibald A.  ZZX    Men        mixed doubles
  637            DOHERTY, Reginald Frank  GBR    Men        mixed doubles
  638           MAHONY, Harold Sergerson  ZZX    Men        mixed doubles
  639                      JONES, Marion  ZZX  Women        mixed doubles
  640                  ROSENBAUM, Hedwig  ZZX  Women        mixed doubles
  641                  COOPER, Charlotte  GBR  Women        mixed doubles
  642                    PREVOST, Hélène  ZZX  Women        mixed doubles
  643            DOHERTY, Reginald Frank  GBR    Men              singles
  644                NORRIS, Arthur B.J.  GBR    Men              singles
  645             DOHERTY, Hugh Lawrence  GBR    Men              singles
  646           MAHONY, Harold Sergerson  GBR    Men              singles
  647                      JONES, Marion  USA  Women              singles
  648                  ROSENBAUM, Hedwig  BOH  Women              singles
  649                  COOPER, Charlotte  GBR  Women              singles
  650                    PREVOST, Hélène  FRA  Women              singles
  651                       AABYE, Edgar  ZZX    Men           tug of war
  652                    NILSSON, August  ZZX    Men           tug of war
  653                     SCHMIDT, Eugen  ZZX    Men           tug of war
  654                 SÖDERSTRÖM, Gustaf  ZZX    Men           tug of war
  655                 STAAF, Karl Gustav  ZZX    Men           tug of war
  656                  WINCKLER, Charles  ZZX    Men           tug of war
  657                     BASSET, Pierre  FRA    Men           tug of war
  658                       COLLAS, Jean  FRA    Men           tug of war
  659                  GONDOUIN, Charles  FRA    Men           tug of war
  660  HENRIQUEZ DE ZUBIERRA, Constantin  FRA    Men           tug of war
  661                      ROFFO, Joseph  FRA    Men           tug of war
  662                     SARRADE, Emile  FRA    Men           tug of war

      Event_gender   Medal
  151            M  Bronze
  152            M    Gold
  153            M  Silver
  154            M  Bronze
  155            M    Gold
  156            M  Silver
  157            M  Bronze
  158            M    Gold
  159            M  Silver
  160            M  Bronze
  161            M    Gold
  162            M  Silver
  163            M  Bronze
  164            M  Bronze
  165            M  Bronze
  166            M  Bronze
  167            M  Bronze
  168            M    Gold
  169            M    Gold
  170            M    Gold
  171            M    Gold
  172            M    Gold
  173            M  Silver
  174            M  Silver
  175            M  Silver
  176            M  Silver
  177            M  Silver
  178            M  Bronze
  179            M    Gold
  180            M  Silver
  ..           ...     ...
  633            M  Silver
  634            M  Silver
  635            X  Bronze
  636            X  Bronze
  637            X    Gold
  638            X  Silver
  639            X  Bronze
  640            X  Bronze
  641            X    Gold
  642            X  Silver
  643            M  Bronze
  644            M  Bronze
  645            M    Gold
  646            M  Silver
  647            W  Bronze
  648            W  Bronze
  649            W    Gold
  650            W  Silver
  651            M    Gold
  652            M    Gold
  653            M    Gold
  654            M    Gold
  655            M    Gold
  656            M    Gold
  657            M  Silver
  658            M  Silver
  659            M  Silver
  660            M  Silver
  661            M  Silver
  662            M  Silver

  [512 rows x 10 columns]),
 (1904,           City  Edition          Sport       Discipline  \
  663   St Louis     1904       Aquatics           Diving
  664   St Louis     1904       Aquatics           Diving
  665   St Louis     1904       Aquatics           Diving
  666   St Louis     1904       Aquatics           Diving
  667   St Louis     1904       Aquatics           Diving
  668   St Louis     1904       Aquatics           Diving
  669   St Louis     1904       Aquatics           Diving
  670   St Louis     1904       Aquatics         Swimming
  671   St Louis     1904       Aquatics         Swimming
  672   St Louis     1904       Aquatics         Swimming

In [89]:
list(grpedition)[0]

(1896,        City  Edition          Sport       Discipline  \
 0    Athens     1896       Aquatics         Swimming
 1    Athens     1896       Aquatics         Swimming
 2    Athens     1896       Aquatics         Swimming
 3    Athens     1896       Aquatics         Swimming
 4    Athens     1896       Aquatics         Swimming
 5    Athens     1896       Aquatics         Swimming
 6    Athens     1896       Aquatics         Swimming
 7    Athens     1896       Aquatics         Swimming
 8    Athens     1896       Aquatics         Swimming
 9    Athens     1896       Aquatics         Swimming
 10   Athens     1896       Aquatics         Swimming
 11   Athens     1896      Athletics        Athletics
 12   Athens     1896      Athletics        Athletics
 13   Athens     1896      Athletics        Athletics
 14   Athens     1896      Athletics        Athletics
 15   Athens     1896      Athletics        Athletics
 16   Athens     1896      Athletics        Athletics
 17   Athens     1896      Athletics        Athletics
 18   Athens     1896      Athletics        Athletics
 19   Athens     1896      Athletics        Athletics
 20   Athens     1896      Athletics        Athletics
 21   Athens     1896      Athletics        Athletics
 22   Athens     1896      Athletics        Athletics
 23   Athens     1896      Athletics        Athletics
 24   Athens     1896      Athletics        Athletics
 25   Athens     1896      Athletics        Athletics
 26   Athens     1896      Athletics        Athletics
 27   Athens     1896      Athletics        Athletics
 28   Athens     1896      Athletics        Athletics
 29   Athens     1896      Athletics        Athletics
 ..      ...      ...            ...              ...
 121  Athens     1896       Shooting         Shooting
 122  Athens     1896       Shooting         Shooting
 123  Athens     1896       Shooting         Shooting
 124  Athens     1896       Shooting         Shooting
 125  Athens     1896       Shooting         Shooting
 126  Athens     1896       Shooting         Shooting
 127  Athens     1896       Shooting         Shooting
 128  Athens     1896       Shooting         Shooting
 129  Athens     1896       Shooting         Shooting
 130  Athens     1896       Shooting         Shooting
 131  Athens     1896       Shooting         Shooting
 132  Athens     1896         Tennis           Tennis
 133  Athens     1896         Tennis           Tennis
 134  Athens     1896         Tennis           Tennis
 135  Athens     1896         Tennis           Tennis
 136  Athens     1896         Tennis           Tennis
 137  Athens     1896         Tennis           Tennis
 138  Athens     1896         Tennis           Tennis
 139  Athens     1896         Tennis           Tennis
 140  Athens     1896         Tennis           Tennis
 141  Athens     1896         Tennis           Tennis
 142  Athens     1896  Weightlifting    Weightlifting
 143  Athens     1896  Weightlifting    Weightlifting
 144  Athens     1896  Weightlifting    Weightlifting
 145  Athens     1896  Weightlifting    Weightlifting
 146  Athens     1896  Weightlifting    Weightlifting
 147  Athens     1896  Weightlifting    Weightlifting
 148  Athens     1896      Wrestling  Wrestling Gre-R
 149  Athens     1896      Wrestling  Wrestling Gre-R
 150  Athens     1896      Wrestling  Wrestling Gre-R

                          Athlete  NOC Gender  \
 0                  HAJOS, Alfred  HUN    Men
 1               HERSCHMANN, Otto  AUT    Men
 2              DRIVAS, Dimitrios  GRE    Men
 3             MALOKINIS, Ioannis  GRE    Men
 4             CHASAPIS, Spiridon  GRE    Men
 5          CHOROPHAS, Efstathios  GRE    Men
 6                  HAJOS, Alfred  HUN    Men
 7               ANDREOU, Joannis  GRE    Men
 8          CHOROPHAS, Efstathios  GRE    Men
 9                  NEUMANN, Paul  AUT    Men
 10             PEPANOS, Antonios  GRE    Men
 11                 LANE, Francis  USA    Men
 12              SZOKOLYI, Alajos  HUN    Men
 13                 BURKE, Thomas  USA    Men
 14                HOFMANN, Fritz  GER    Men
 15                CURTIS, Thomas  USA    Men
 16            GOULDING, Grantley  GBR    Men
 17             LERMUSIAUX, Albin  FRA    Men
 18                  FLACK, Edwin  AUS    Men
 19                 BLAKE, Arthur  USA    Men
 20               GMELIN, Charles  GBR    Men
 21                 BURKE, Thomas  USA    Men
 22              JAMISON, Herbert  USA    Men
 23            GOLEMIS, Dimitrios  GRE    Men
 24                  FLACK, Edwin  AUS    Men
 25                  DANI, Nandor  HUN    Men
 26              VERSIS, Sotirios  GRE    Men
 27               GARRETT, Robert  USA    Men
 28   PARASKEVOPOULOS, Panagiotis  GRE    Men
 29                 CLARK, Ellery  USA    Men
 ..                           ...  ...    ...
 121         PHRANGOUDIS, Joannis  GRE    Men
 122         ORPHANIDIS, Georgios  GRE    Men
 123         PHRANGOUDIS, Joannis  GRE    Men
 124                PAINE, Sumner  USA    Men
 125              NIELSEN, Holger  DEN    Men
 126           TRIKUPIS, Nicolaos  GRE    Men
 127         KARASEVDAS, Pantelis  GRE    Men
 128             PAVLIDIS, Pavlos  GRE    Men
 129                JENSEN, Viggo  DEN    Men
 130         ORPHANIDIS, Georgios  GRE    Men
 131         PHRANGOUDIS, Joannis  GRE    Men
 132                 FLACK, Edwin  ZZX    Men
 133     ROBERTSON, George Stuart  ZZX    Men
 134                 BOLAND, John  ZZX    Men
 135             TRAUN, Friedrich  ZZX    Men
 136         KASDAGLIS, Dionysios  ZZX    Men
 137     PETROKOKKINOS, Demetrios  ZZX    Men
 138       PASPATIS, Konstantinos  GRE    Men
 139         TAPAVICZA, Momcsillo  HUN    Men
 140                 BOLAND, John  GBR    Men
 141         KASDAGLIS, Dionysios  GRE    Men
 142     NIKOLOPOULOS, Alexandros  GRE    Men
 143          ELLIOTT, Launceston  GBR    Men
 144                JENSEN, Viggo  DEN    Men
 145             VERSIS, Sotirios  GRE    Men
 146                JENSEN, Viggo  DEN    Men
 147          ELLIOTT, Launceston  GBR    Men
 148     CHRISTOPOULOS, Stephanos  GRE    Men
 149               SCHUMANN, Carl  GER    Men
 150             TSITAS, Georgios  GRE    Men

                                 Event Event_gender   Medal
 0                      100m freestyle            M    Gold
 1                      100m freestyle            M  Silver
 2          100m freestyle for sailors            M  Bronze
 3          100m freestyle for sailors            M    Gold
 4          100m freestyle for sailors            M  Silver
 5                     1200m freestyle            M  Bronze
 6                     1200m freestyle            M    Gold
 7                     1200m freestyle            M  Silver
 8                      400m freestyle            M  Bronze
 9                      400m freestyle            M    Gold
 10                     400m freestyle            M  Silver
 11                               100m            M  Bronze
 12                               100m            M  Bronze
 13                               100m            M    Gold
 14                               100m            M  Silver
 15                       110m hurdles            M    Gold
 16                       110m hurdles            M  Silver
 17                              1500m            M  Bronze
 18                              1500m            M    Gold
 19                              1500m            M  Silver
 20                               400m            M  Bronze
 21                               400m            M    Gold
 22                               400m            M  Silver
 23                               800m            M  Bronze
 24                               800m            M    Gold
 25                               800m            M  Silver
 26                       discus throw            M  Bronze
 27                       discus throw            M    Gold
 28                       discus throw            M  Silver
 29                          high jump            M    Gold
 ..                                ...          ...     ...
 121  25m rapid fire pistol (60 shots)            M    Gold
 122  25m rapid fire pistol (60 shots)            M  Silver
 123             50m pistol (60 shots)            M  Bronze
 124             50m pistol (60 shots)            M    Gold
 125             50m pistol (60 shots)            M  Silver
 126                  army rifle, 200m            M  Bronze
 127                  army rifle, 200m            M    Gold
 128                  army rifle, 200m            M  Silver
 129                  army rifle, 300m            M  Bronze
 130                  army rifle, 300m            M    Gold
 131                  army rifle, 300m            M  Silver
 132                           doubles            M  Bronze
 133                           doubles            M  Bronze
 134                           doubles            M    Gold
 135                           doubles            M    Gold
 136                           doubles            M  Silver
 137                           doubles            M  Silver
 138                           singles            M  Bronze
 139                           singles            M  Bronze
 140                           singles            M    Gold
 141                           singles            M  Silver
 142       heavyweight - one hand lift            M  Bronze
 143       heavyweight - one hand lift            M    Gold
 144       heavyweight - one hand lift            M  Silver
 145       heavyweight - two hand lift            M  Bronze
 146       heavyweight - two hand lift            M    Gold
 147       heavyweight - two hand lift            M  Silver
 148                        open event            M  Bronze
 149                        open event            M    Gold
 150                        open event            M  Silver

 [151 rows x 10 columns])

In [91]:
list(grpedition)[0][0]

1896

In [92]:
list(grpedition)[0][1]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
121,Athens,1896,Shooting,Shooting,"PHRANGOUDIS, Joannis",GRE,Men,25m rapid fire pistol (60 shots),M,Gold
122,Athens,1896,Shooting,Shooting,"ORPHANIDIS, Georgios",GRE,Men,25m rapid fire pistol (60 shots),M,Silver
123,Athens,1896,Shooting,Shooting,"PHRANGOUDIS, Joannis",GRE,Men,50m pistol (60 shots),M,Bronze
124,Athens,1896,Shooting,Shooting,"PAINE, Sumner",USA,Men,50m pistol (60 shots),M,Gold
125,Athens,1896,Shooting,Shooting,"NIELSEN, Holger",DEN,Men,50m pistol (60 shots),M,Silver
126,Athens,1896,Shooting,Shooting,"TRIKUPIS, Nicolaos",GRE,Men,"army rifle, 200m",M,Bronze
127,Athens,1896,Shooting,Shooting,"KARASEVDAS, Pantelis",GRE,Men,"army rifle, 200m",M,Gold
128,Athens,1896,Shooting,Shooting,"PAVLIDIS, Pavlos",GRE,Men,"army rifle, 200m",M,Silver
129,Athens,1896,Shooting,Shooting,"JENSEN, Viggo",DEN,Men,"army rifle, 300m",M,Bronze
130,Athens,1896,Shooting,Shooting,"ORPHANIDIS, Georgios",GRE,Men,"army rifle, 300m",M,Gold
131,Athens,1896,Shooting,Shooting,"PHRANGOUDIS, Joannis",GRE,Men,"army rifle, 300m",M,Silver
132,Athens,1896,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,doubles,M,Bronze
133,Athens,1896,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,doubles,M,Bronze
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
135,Athens,1896,Tennis,Tennis,"TRAUN, Friedrich",ZZX,Men,doubles,M,Gold
136,Athens,1896,Tennis,Tennis,"KASDAGLIS, Dionysios",ZZX,Men,doubles,M,Silver
137,Athens,1896,Tennis,Tennis,"PETROKOKKINOS, Demetrios",ZZX,Men,doubles,M,Silver
138,Athens,1896,Tennis,Tennis,"PASPATIS, Konstantinos",GRE,Men,singles,M,Bronze
139,Athens,1896,Tennis,Tennis,"TAPAVICZA, Momcsillo",HUN,Men,singles,M,Bronze
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
141,Athens,1896,Tennis,Tennis,"KASDAGLIS, Dionysios",GRE,Men,singles,M,Silver
142,Athens,1896,Weightlifting,Weightlifting,"NIKOLOPOULOS, Alexandros",GRE,Men,heavyweight - one hand lift,M,Bronze
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
144,Athens,1896,Weightlifting,Weightlifting,"JENSEN, Viggo",DEN,Men,heavyweight - one hand lift,M,Silver
145,Athens,1896,Weightlifting,Weightlifting,"VERSIS, Sotirios",GRE,Men,heavyweight - two hand lift,M,Bronze
146,Athens,1896,Weightlifting,Weightlifting,"JENSEN, Viggo",DEN,Men,heavyweight - two hand lift,M,Gold
147,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - two hand lift,M,Silver
148,Athens,1896,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,open event,M,Bronze
149,Athens,1896,Wrestling,Wrestling Gre-R,"SCHUMANN, Carl",GER,Men,open event,M,Gold
150,Athens,1896,Wrestling,Wrestling Gre-R,"TSITAS, Georgios",GRE,Men,open event,M,Silver

In [97]:
for key, group in grpedition:
    print(key)
    print(group[['City', 'Sport', 'Athlete', 'NOC']][0:20])
    print("\n\n\n\n")

1896
      City      Sport                Athlete  NOC
0   Athens   Aquatics          HAJOS, Alfred  HUN
1   Athens   Aquatics       HERSCHMANN, Otto  AUT
2   Athens   Aquatics      DRIVAS, Dimitrios  GRE
3   Athens   Aquatics     MALOKINIS, Ioannis  GRE
4   Athens   Aquatics     CHASAPIS, Spiridon  GRE
5   Athens   Aquatics  CHOROPHAS, Efstathios  GRE
6   Athens   Aquatics          HAJOS, Alfred  HUN
7   Athens   Aquatics       ANDREOU, Joannis  GRE
8   Athens   Aquatics  CHOROPHAS, Efstathios  GRE
9   Athens   Aquatics          NEUMANN, Paul  AUT
10  Athens   Aquatics      PEPANOS, Antonios  GRE
11  Athens  Athletics          LANE, Francis  USA
12  Athens  Athletics       SZOKOLYI, Alajos  HUN
13  Athens  Athletics          BURKE, Thomas  USA
14  Athens  Athletics         HOFMANN, Fritz  GER
15  Athens  Athletics         CURTIS, Thomas  USA
16  Athens  Athletics     GOULDING, Grantley  GBR
17  Athens  Athletics      LERMUSIAUX, Albin  FRA
18  Athens  Athletics           FLACK, Edwin  AUS
19  Athens  Athletics          BLAKE, Arthur  USA





1900
      City     Sport               Athlete  NOC
151  Paris  Aquatics        HALMAY, Zoltan  HUN
152  Paris  Aquatics   JARVIS, John Arthur  GBR
153  Paris  Aquatics           WAHLE, Otto  AUT
154  Paris  Aquatics       DROST, Johannes  NED
155  Paris  Aquatics     HOPPENBERG, Ernst  GER
156  Paris  Aquatics          RUBERL, Karl  AUT
157  Paris  Aquatics          RUBERL, Karl  AUT
158  Paris  Aquatics  LANE, Frederick C.V.  AUS
159  Paris  Aquatics        HALMAY, Zoltan  HUN
160  Paris  Aquatics           KEMP, Peter  GBR
161  Paris  Aquatics  LANE, Frederick C.V.  AUS
162  Paris  Aquatics           WAHLE, Otto  AUT
163  Paris  Aquatics                HOUBEN  FRA
164  Paris  Aquatics      LEUILLIEUX, Jean  FRA
165  Paris  Aquatics         MARTIN, Louis  FRA
166  Paris  Aquatics       MERCHEZ, Désiré  FRA
167  Paris  Aquatics               TARTARA  FRA
168  Paris  Aquatics          FREY, Julius  GER
169  Paris  Aquatics           HAINLE, Max  GER
170  Paris  Aquatics     HOPPENBERG, Ernst  GER





1904
         City     Sport                 Athlete  NOC
663  St Louis  Aquatics  BRAUNSCHWEIGER, Alfred  GER
664  St Louis  Aquatics            KEHOE, Frank  USA
665  St Louis  Aquatics         SHELDON, George  USA
666  St Louis  Aquatics         HOFFMANN, Georg  GER
667  St Louis  Aquatics       GOODWIN, Leo Budd  USA
668  St Louis  Aquatics    DICKEY, William Paul  USA
669  St Louis  Aquatics         ADAMS, Edgar H.  USA
670  St Louis  Aquatics        ZACHARIAS, Georg  GER
671  St Louis  Aquatics           BRACK, Walter  GER
672  St Louis  Aquatics         HOFFMANN, Georg  GER
673  St Louis  Aquatics         LEARY, J. Scott  USA
674  St Louis  Aquatics          HALMAY, Zoltan  HUN
675  St Louis  Aquatics        DANIELS, Charles  USA
676  St Louis  Aquatics         GAILEY, Francis  USA
677  St Louis  Aquatics            RAUSCH, Emil  GER
678  St Louis  Aquatics              KISS, Geza  HUN
679  St Louis  Aquatics            RAUSCH, Emil  GER
680  St Louis  Aquatics        DANIELS, Charles  USA
681  St Louis  Aquatics         GAILEY, Francis  USA
682  St Louis  Aquatics    HANDY, Hehry Jamison  USA





1908
        City     Sport                     Athlete  NOC
1133  London  Aquatics            SPANGBERG, Arvid  SWE
1134  London  Aquatics          JOHANSSON, Hjalmar  SWE
1135  London  Aquatics             MALMSTRÖM, Karl  SWE
1136  London  Aquatics     GAIDZIK, George William  USA
1137  London  Aquatics               WALZ, Gottlob  GER
1138  London  Aquatics              ZÜRNER, Albert  GER
1139  London  Aquatics               BEHRENS, Kurt  GER
1140  London  Aquatics  HARESNAPE, Herbert Nickall  GBR
1141  London  Aquatics           BIEBERSTEIN, Arno  GER
1142  London  Aquatics      DAM, Hans Peter Ludwig  DEN
1143  London  Aquatics          JULIN, Harald S.A.  SWE
1144  London  Aquatics            DANIELS, Charles  USA
1145  London  Aquatics              HALMAY, Zoltan  HUN
1146  London  Aquatics       BEAUREPAIRE, Frank E.  ANZ
1147  London  Aquatics               TAYLOR, Henry  GBR
1148  London  Aquatics    BATTERSBY, Thomas Sidney  GBR
1149  London  Aquatics             HANSSON, Pontus  SWE
1150  London  Aquatics           HOLMAN, Frederick  GBR
1151  London  Aquatics    ROBINSON, William Walter  GBR
1152  London  Aquatics                SCHEFF, Otto  AUT





1912
           City     Sport                Athlete  NOC
1937  Stockholm  Aquatics       BLOMGREN, Gustaf  SWE
1938  Stockholm  Aquatics           ADLERZ, Erik  SWE
1939  Stockholm  Aquatics         ZÜRNER, Albert  GER
1940  Stockholm  Aquatics   WHITE, Isabella Mary  GBR
1941  Stockholm  Aquatics       JOHANSSON, Greta  SWE
1942  Stockholm  Aquatics          REGNELL, Lisa  SWE
1943  Stockholm  Aquatics          BEHRENS, Kurt  GER
1944  Stockholm  Aquatics          GÜNTHER, Paul  GER
1945  Stockholm  Aquatics            LUBER, Hans  GER
1946  Stockholm  Aquatics          JANSSON, John  SWE
1947  Stockholm  Aquatics           ADLERZ, Erik  SWE
1948  Stockholm  Aquatics     JOHANSSON, Hjalmar  SWE
1949  Stockholm  Aquatics          KELLNER, Paul  GER
1950  Stockholm  Aquatics       HEBNER, Harry J.  USA
1951  Stockholm  Aquatics             FAHR, Otto  GER
1952  Stockholm  Aquatics       HUSZAGH, Kenneth  USA
1953  Stockholm  Aquatics  KAHANAMOKU, Duke Paoa  USA
1954  Stockholm  Aquatics           HEALY, Cecil  ANZ
1955  Stockholm  Aquatics       FLETCHER, Jennie  GBR
1956  Stockholm  Aquatics          DURACK, Fanny  ANZ





1920
         City     Sport                    Athlete  NOC
2822  Antwerp  Aquatics             PRIESTE, Harry  USA
2823  Antwerp  Aquatics         PINKSTON, Clarence  USA
2824  Antwerp  Aquatics               ADLERZ, Erik  SWE
2825  Antwerp  Aquatics              OLLIVIER, Eva  SWE
2826  Antwerp  Aquatics   FRYLAND CLAUSEN, Stefani  DEN
2827  Antwerp  Aquatics  ARMSTRONG, Beatrix Eileen  GBR
2828  Antwerp  Aquatics       BALBACH, Louis James  USA
2829  Antwerp  Aquatics               KUEHN, Louis  USA
2830  Antwerp  Aquatics         PINKSTON, Clarence  USA
2831  Antwerp  Aquatics              PAYNE, Thelma  USA
2832  Antwerp  Aquatics             RIGGIN, Aileen  USA
2833  Antwerp  Aquatics          WAINWRIGHT, Helen  USA
2834  Antwerp  Aquatics              JANSSON, John  SWE
2835  Antwerp  Aquatics             WALLMAN, Arvid  SWE
2836  Antwerp  Aquatics             SKOGLUND, Nils  SWE
2837  Antwerp  Aquatics              BLITZ, Gerard  BEL
2838  Antwerp  Aquatics       KEALOHA, Warren Paoa  USA
2839  Antwerp  Aquatics           KEGERIS, Raymond  USA
2840  Antwerp  Aquatics            HARRIS, William  USA
2841  Antwerp  Aquatics      KAHANAMOKU, Duke Paoa  USA





1924
       City     Sport                           Athlete  NOC
4120  Paris  Aquatics                PINKSTON, Clarence  USA
4121  Paris  Aquatics                     WHITE, Albert  USA
4122  Paris  Aquatics                       FALL, David  USA
4123  Paris  Aquatics                    TÖPEL, Hjördis  SWE
4124  Paris  Aquatics                   SMITH, Caroline  USA
4125  Paris  Aquatics        BECKER-PINKSTON, Elizabeth  USA
4126  Paris  Aquatics                PINKSTON, Clarence  USA
4127  Paris  Aquatics                     WHITE, Albert  USA
4128  Paris  Aquatics  DESJARDINS, Ulise Joseph "Peter"  USA
4129  Paris  Aquatics                FLETCHER, Caroline  USA
4130  Paris  Aquatics        BECKER-PINKSTON, Elizabeth  USA
4131  Paris  Aquatics                    RIGGIN, Aileen  USA
4132  Paris  Aquatics                    CLARKE, Harold  GBR
4133  Paris  Aquatics                     EVE, Richmond  AUS
4134  Paris  Aquatics                     JANSSON, John  SWE
4135  Paris  Aquatics                    BARTHA, István  HUN
4136  Paris  Aquatics              KEALOHA, Warren Paoa  USA
4137  Paris  Aquatics                       WYATT, Paul  USA
4138  Paris  Aquatics                    RIGGIN, Aileen  USA
4139  Paris  Aquatics                      BAUER, Sybil  USA





1928
           City     Sport                           Athlete  NOC
5004  Amsterdam  Aquatics           GALITZEN, Michael Riley  USA
5005  Amsterdam  Aquatics  DESJARDINS, Ulise Joseph "Peter"  USA
5006  Amsterdam  Aquatics                    SIMAIKA, Farid  EGY
5007  Amsterdam  Aquatics                   SJÖQVIST, Laura  SWE
5008  Amsterdam  Aquatics        BECKER-PINKSTON, Elizabeth  USA
5009  Amsterdam  Aquatics               COLEMAN, Georgia V.  USA
5010  Amsterdam  Aquatics                    SIMAIKA, Farid  EGY
5011  Amsterdam  Aquatics  DESJARDINS, Ulise Joseph "Peter"  USA
5012  Amsterdam  Aquatics           GALITZEN, Michael Riley  USA
5013  Amsterdam  Aquatics               COLEMAN, Georgia V.  USA
5014  Amsterdam  Aquatics                      MEANY, Helen  USA
5015  Amsterdam  Aquatics             POYNTON-HILL, Dorothy  USA
5016  Amsterdam  Aquatics                       WYATT, Paul  USA
5017  Amsterdam  Aquatics              KOJAC, George Harold  USA
5018  Amsterdam  Aquatics                    LAUFER, Walter  USA
5019  Amsterdam  Aquatics            COOPER, Margaret Joyce  GBR
5020  Amsterdam  Aquatics              BRAUN, Maria Johanna  NED
5021  Amsterdam  Aquatics             KING, Ellen Elizabeth  GBR
5022  Amsterdam  Aquatics                  TAKAISHI, Katsuo  JPN
5023  Amsterdam  Aquatics               WEISSMULLER, Johnny  USA





1932
             City     Sport                     Athlete  NOC
5714  Los Angeles  Aquatics          KURTZ, Frank Allen  USA
5715  Los Angeles  Aquatics         SMITH, Harold Edwin  USA
5716  Los Angeles  Aquatics     GALITZEN, Michael Riley  USA
5717  Los Angeles  Aquatics          ROPER, Marion Dale  USA
5718  Los Angeles  Aquatics       POYNTON-HILL, Dorothy  USA
5719  Los Angeles  Aquatics         COLEMAN, Georgia V.  USA
5720  Los Angeles  Aquatics   DEGENER, Richard Kempster  USA
5721  Los Angeles  Aquatics     GALITZEN, Michael Riley  USA
5722  Los Angeles  Aquatics         SMITH, Harold Edwin  USA
5723  Los Angeles  Aquatics                FAUNTZ, Jane  USA
5724  Los Angeles  Aquatics         COLEMAN, Georgia V.  USA
5725  Los Angeles  Aquatics     RAWLS, Katherine Louise  USA
5726  Los Angeles  Aquatics            KAWATSU, Kentaro  JPN
5727  Los Angeles  Aquatics            KIYOKAWA, Masaji  JPN
5728  Los Angeles  Aquatics               IRIYE, Toshio  JPN
5729  Los Angeles  Aquatics   DAVIES, Elizabeth Valerie  GBR
5730  Los Angeles  Aquatics               HOLM, Eleanor  USA
5731  Los Angeles  Aquatics  MEALING, Philomenia Alecia  AUS
5732  Los Angeles  Aquatics            SCHWARTZ, Albert  USA
5733  Los Angeles  Aquatics           MIOYAZAKI, Yasuji  JPN





1936
        City     Sport                       Athlete  NOC
6329  Berlin  Aquatics                STORK, Hermann  GER
6330  Berlin  Aquatics               WAYNE, Marshall  USA
6331  Berlin  Aquatics           ROOT, Elbert Alonzo  USA
6332  Berlin  Aquatics                 KÖHLER, Käthe  GER
6333  Berlin  Aquatics         POYNTON-HILL, Dorothy  USA
6334  Berlin  Aquatics   DUNN PLOESSEL, Velma Clancy  USA
6335  Berlin  Aquatics                  GREENE, Alan  USA
6336  Berlin  Aquatics     DEGENER, Richard Kempster  USA
6337  Berlin  Aquatics               WAYNE, Marshall  USA
6338  Berlin  Aquatics         POYNTON-HILL, Dorothy  USA
6339  Berlin  Aquatics            GESTRING, Marjorie  USA
6340  Berlin  Aquatics       RAWLS, Katherine Louise  USA
6341  Berlin  Aquatics              KIYOKAWA, Masaji  JPN
6342  Berlin  Aquatics         KIEFER, Adolph Gustav  USA
6343  Berlin  Aquatics          VAN DE WEGHE, Albert  USA
6344  Berlin  Aquatics             BRIDGES, Alice W.  USA
6345  Berlin  Aquatics  SENFF, Dina Willemina Jacoba  NED
6346  Berlin  Aquatics         MASTENBROEK, Hendrika  NED
6347  Berlin  Aquatics                  ARAI, Shigeo  JPN
6348  Berlin  Aquatics                  CSIK, Ferenc  HUN





1948
        City     Sport                       Athlete  NOC
7204  London  Aquatics        CAPILLA PEREZ, Joaquin  MEX
7205  London  Aquatics                   LEE, Samuel  USA
7206  London  Aquatics             HARLAN, Bruce Ira  USA
7207  London  Aquatics  CHRISTOFFERSEN-HANSON, Birte  DEN
7208  London  Aquatics       DRAVES, Victoria Manalo  USA
7209  London  Aquatics        ELSENER, Patricia Anne  USA
7210  London  Aquatics                   LEE, Samuel  USA
7211  London  Aquatics             HARLAN, Bruce Ira  USA
7212  London  Aquatics       ANDERSON, Miller Altman  USA
7213  London  Aquatics        ELSENER, Patricia Anne  USA
7214  London  Aquatics       DRAVES, Victoria Manalo  USA
7215  London  Aquatics         OLSEN-JENSEN, Zoe-Ann  USA
7216  London  Aquatics         VALLEREY JR., Georges  FRA
7217  London  Aquatics         STACK, Allen Mcintyre  USA
7218  London  Aquatics          COWELL, Robert Elmer  USA
7219  London  Aquatics            DAVIES, Judith Joy  AUS
7220  London  Aquatics        HARUP, Karen Margrethe  DEN
7221  London  Aquatics     ZIMMERMAN, Suzanne Winona  USA
7222  London  Aquatics                   KADAS, Geza  HUN
7223  London  Aquatics           RIS, Walter Stephen  USA





1952
          City     Sport                     Athlete  NOC
8018  Helsinki  Aquatics              HAASE, Günther  GER
8019  Helsinki  Aquatics                 LEE, Samuel  USA
8020  Helsinki  Aquatics      CAPILLA PEREZ, Joaquin  MEX
8021  Helsinki  Aquatics  STOVER-IRWIN, Juno Roslays  USA
8022  Helsinki  Aquatics         MCCORMICK, Patricia  USA
8023  Helsinki  Aquatics      MYERS-POPE, Paula Jean  USA
8024  Helsinki  Aquatics     CLOTWORTHY, Robert Lynn  USA
8025  Helsinki  Aquatics   BROWNING, David Grieg Jr.  USA
8026  Helsinki  Aquatics     ANDERSON, Miller Altman  USA
8027  Helsinki  Aquatics       OLSEN-JENSEN, Zoe-Ann  USA
8028  Helsinki  Aquatics         MCCORMICK, Patricia  USA
8029  Helsinki  Aquatics           MOREAU, Madeleine  FRA
8030  Helsinki  Aquatics    TAYLOR, Jack George Neil  USA
8031  Helsinki  Aquatics          OYAKAWA, Yoshinobu  USA
8032  Helsinki  Aquatics              BOZON, Gilbert  FRA
8033  Helsinki  Aquatics               STEWART, Jean  NZL
8034  Helsinki  Aquatics      HARRISON, Joan Cynthia  RSA
8035  Helsinki  Aquatics            WIELEMA, Geertje  NED
8036  Helsinki  Aquatics              LARSSON, Göran  SWE
8037  Helsinki  Aquatics       SCHOLES, Clark Currie  USA





1956
                       City     Sport                     Athlete  NOC
8907  Melbourne / Stockholm  Aquatics     CONNER, Richard Carroll  USA
8908  Melbourne / Stockholm  Aquatics      CAPILLA PEREZ, Joaquin  MEX
8909  Melbourne / Stockholm  Aquatics        TOBIAN, Gary Milburn  USA
8910  Melbourne / Stockholm  Aquatics      MYERS-POPE, Paula Jean  USA
8911  Melbourne / Stockholm  Aquatics         MCCORMICK, Patricia  USA
8912  Melbourne / Stockholm  Aquatics  STOVER-IRWIN, Juno Roslays  USA
8913  Melbourne / Stockholm  Aquatics      CAPILLA PEREZ, Joaquin  MEX
8914  Melbourne / Stockholm  Aquatics     CLOTWORTHY, Robert Lynn  USA
8915  Melbourne / Stockholm  Aquatics     HARPER, Donald De Wayne  USA
8916  Melbourne / Stockholm  Aquatics  MAC DONALD, Irene Margaret  CAN
8917  Melbourne / Stockholm  Aquatics         MCCORMICK, Patricia  USA
8918  Melbourne / Stockholm  Aquatics    STUNYO, Jeanne Georgetta  USA
8919  Melbourne / Stockholm  Aquatics  MCKINNEY, Frank Edward Jr.  USA
8920  Melbourne / Stockholm  Aquatics        THEILE, David Egmont  AUS
8921  Melbourne / Stockholm  Aquatics        MONCKTON, John James  AUS
8922  Melbourne / Stockholm  Aquatics           EDWARDS, Margaret  GBR
8923  Melbourne / Stockholm  Aquatics      GRINHAM, Judith Brenda  GBR
8924  Melbourne / Stockholm  Aquatics           CONE, Carin Alice  USA
8925  Melbourne / Stockholm  Aquatics            SEARS, Mary Jane  USA
8926  Melbourne / Stockholm  Aquatics        MANN, Shelley Isabel  USA





1960
      City     Sport                      Athlete  NOC
9792  Rome  Aquatics           PHELPS, Brian Eric  GBR
9793  Rome  Aquatics        WEBSTER, Robert David  USA
9794  Rome  Aquatics         TOBIAN, Gary Milburn  USA
9795  Rome  Aquatics               KRUTOVA, Ninel  URS
9796  Rome  Aquatics  KRÄMER-ENGEL-GULBIN, Ingrid  EUA
9797  Rome  Aquatics       MYERS-POPE, Paula Jean  USA
9798  Rome  Aquatics         BOTELLA MEDINA, Juan  MEX
9799  Rome  Aquatics         TOBIAN, Gary Milburn  USA
9800  Rome  Aquatics          HALL, Samuel Nesley  USA
9801  Rome  Aquatics    FERRIS, Elizabeth Anne E.  GBR
9802  Rome  Aquatics  KRÄMER-ENGEL-GULBIN, Ingrid  EUA
9803  Rome  Aquatics       MYERS-POPE, Paula Jean  USA
9804  Rome  Aquatics         BENNETT, Robert Earl  USA
9805  Rome  Aquatics         THEILE, David Egmont  AUS
9806  Rome  Aquatics   MCKINNEY, Frank Edward Jr.  USA
9807  Rome  Aquatics               TANAKA, Satoko  JPN
9808  Rome  Aquatics           BURKE, Lynn Edythe  USA
9809  Rome  Aquatics      STEWARD, Natalie Alwyne  GBR
9810  Rome  Aquatics               ANDREW, Janice  AUS
9811  Rome  Aquatics        SCHULER, Carolyn Jane  USA





1964
        City     Sport                      Athlete  NOC
10674  Tokyo  Aquatics          GOMPF, Thomas Eugen  USA
10675  Tokyo  Aquatics        WEBSTER, Robert David  USA
10676  Tokyo  Aquatics               DIBIASI, Klaus  ITA
10677  Tokyo  Aquatics            ALEKSEEVA, Galina  URS
10678  Tokyo  Aquatics           BUSH, Lesley Leigh  USA
10679  Tokyo  Aquatics  KRÄMER-ENGEL-GULBIN, Ingrid  EUA
10680  Tokyo  Aquatics    ANDREASEN, Lawrence Edwin  USA
10681  Tokyo  Aquatics   SITZBERGER, Kenneth Robert  USA
10682  Tokyo  Aquatics       GORMAN, Francis Xavier  USA
10683  Tokyo  Aquatics       WILLARD, Mary Patricia  USA
10684  Tokyo  Aquatics  KRÄMER-ENGEL-GULBIN, Ingrid  EUA
10685  Tokyo  Aquatics        COLLIER, Jeanne Ellen  USA
10686  Tokyo  Aquatics       DUENKEL, Virginia Ruth  USA
10687  Tokyo  Aquatics      FERGUSON, Kathleen Jean  USA
10688  Tokyo  Aquatics      CARON, Christine (Kiki)  FRA
10689  Tokyo  Aquatics              ELLIS, Kathleen  USA
10690  Tokyo  Aquatics        STOUDER, Sharon Marie  USA
10691  Tokyo  Aquatics               KOK, Aagje Ada  NED
10692  Tokyo  Aquatics          KLEIN, Hans-Joachim  EUA
10693  Tokyo  Aquatics   SCHOLLANDER, Donald Arthur  USA





1968
         City     Sport                       Athlete  NOC
11684  Mexico  Aquatics            YOUNG, Edwin Frank  USA
11685  Mexico  Aquatics                DIBIASI, Klaus  ITA
11686  Mexico  Aquatics        GAXIOLA ROBLES, Alvaro  MEX
11687  Mexico  Aquatics         PETERSON, Ann Stewart  USA
11688  Mexico  Aquatics              DUCHKOVA, Milena  TCH
11689  Mexico  Aquatics  KUZNETSOVA-LOBANOVA, Natalya  URS
11690  Mexico  Aquatics           HENRY, James Edward  USA
11691  Mexico  Aquatics    WRIGHTSON, Bernard Charles  USA
11692  Mexico  Aquatics                DIBIASI, Klaus  ITA
11693  Mexico  Aquatics             O'SULLIVAN, Keala  USA
11694  Mexico  Aquatics              GOSSICK, Susanne  USA
11695  Mexico  Aquatics    FEDOSOVA-POGOZHEVA, Tamara  URS
11696  Mexico  Aquatics              MILLS, Ronald P.  USA
11697  Mexico  Aquatics               MATTHES, Roland  GDR
11698  Mexico  Aquatics     HICKCOX, Charles Buchanan  USA
11699  Mexico  Aquatics          SWAGERTY, Jane Ellen  USA
11700  Mexico  Aquatics              HALL, Kaye Marie  USA
11701  Mexico  Aquatics                TANNER, Elaine  CAN
11702  Mexico  Aquatics               PANKIN, Nikolai  URS
11703  Mexico  Aquatics     MCKENZIE, Donald Ward Jr.  USA





1972
         City     Sport                   Athlete  NOC
12715  Munich  Aquatics  CAGNOTTO, Giorgio Franco  ITA
12716  Munich  Aquatics            DIBIASI, Klaus  ITA
12717  Munich  Aquatics    RYDZE, Richard Anthony  USA
12718  Munich  Aquatics           JANICKE, Marina  GDR
12719  Munich  Aquatics   KNAPE-LINDBERGH, Ulrika  SWE
12720  Munich  Aquatics          DUCHKOVA, Milena  TCH
12721  Munich  Aquatics     LINCOLN, Craig Howard  USA
12722  Munich  Aquatics           VASIN, Vladimir  URS

**Important Functions**
- GroupBy.size()
- GroupBy.count()
- GroupBy.first(), GroupBy.last()
- GroupBy.head(), Groupby.tail()
- GroupBy.mean()
- GroupBy.min()
- GroupBy.max()

In [98]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [100]:
df.groupby('Edition').size()

Edition
1896     151
1900     512
1904     470
1908     804
1912     885
1920    1298
1924     884
1928     710
1932     615
1936     875
1948     814
1952     889
1956     885
1960     882
1964    1010
1968    1031
1972    1185
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2000    2015
2004    1998
2008    2042
dtype: int64

In [104]:
sum = 0
for key, group in grpedition:
    print(key, " - ", group.shape[0])

1896  -  151
1900  -  512
1904  -  470
1908  -  804
1912  -  885
1920  -  1298
1924  -  884
1928  -  710
1932  -  615
1936  -  875
1948  -  814
1952  -  889
1956  -  885
1960  -  882
1964  -  1010
1968  -  1031
1972  -  1185
1976  -  1305
1980  -  1387
1984  -  1459
1988  -  1546
1992  -  1705
1996  -  1859
2000  -  2015
2004  -  1998
2008  -  2042

In [109]:
df.groupby(['Edition', 'NOC', 'Medal']).agg(['min', 'max', 'count'])

                       City                         Sport                 \
                        min      max count            min            max
Edition NOC Medal
1896    AUS Gold     Athens   Athens     2      Athletics      Athletics
        AUT Bronze   Athens   Athens     2        Cycling        Cycling
            Gold     Athens   Athens     2       Aquatics        Cycling
            Silver   Athens   Athens     1       Aquatics       Aquatics
        DEN Bronze   Athens   Athens     3        Fencing       Shooting
            Gold     Athens   Athens     1  Weightlifting  Weightlifting
            Silver   Athens   Athens     2       Shooting  Weightlifting
        FRA Bronze   Athens   Athens     2      Athletics        Cycling
            Gold     Athens   Athens     5        Cycling        Fencing
            Silver   Athens   Athens     4      Athletics        Fencing
        GBR Bronze   Athens   Athens     2      Athletics        Cycling
            Gold     Athens   Athens     2         Tennis  Weightlifting
            Silver   Athens   Athens     3      Athletics  Weightlifting
        GER Bronze   Athens   Athens     2     Gymnastics     Gymnastics
            Gold     Athens   Athens    26     Gymnastics      Wrestling
            Silver   Athens   Athens     5      Athletics     Gymnastics
        GRE Bronze   Athens   Athens    22       Aquatics      Wrestling
            Gold     Athens   Athens    10       Aquatics       Shooting
            Silver   Athens   Athens    20       Aquatics      Wrestling
        HUN Bronze   Athens   Athens     3      Athletics         Tennis
            Gold     Athens   Athens     2       Aquatics       Aquatics
            Silver   Athens   Athens     1      Athletics      Athletics
        SUI Gold     Athens   Athens     1     Gymnastics     Gymnastics
            Silver   Athens   Athens     2     Gymnastics     Gymnastics
        USA Bronze   Athens   Athens     2      Athletics      Athletics
            Gold     Athens   Athens    11      Athletics       Shooting
            Silver   Athens   Athens     7      Athletics       Shooting
        ZZX Bronze   Athens   Athens     2         Tennis         Tennis
            Gold     Athens   Athens     2         Tennis         Tennis
            Silver   Athens   Athens     2         Tennis         Tennis
...                     ...      ...   ...            ...            ...
2008    SUI Gold    Beijing  Beijing     3        Cycling         Tennis
        SVK Bronze  Beijing  Beijing     1      Wrestling      Wrestling
            Gold    Beijing  Beijing     4  Canoe / Kayak  Canoe / Kayak
            Silver  Beijing  Beijing     5  Canoe / Kayak       Shooting
        SWE Bronze  Beijing  Beijing     2        Sailing        Sailing
            Silver  Beijing  Beijing     5        Cycling         Tennis
        THA Gold    Beijing  Beijing     2         Boxing  Weightlifting
            Silver  Beijing  Beijing     2         Boxing      Taekwondo
        TJK Bronze  Beijing  Beijing     1           Judo           Judo
            Silver  Beijing  Beijing     1      Wrestling      Wrestling
        TOG Bronze  Beijing  Beijing     1  Canoe / Kayak  Canoe / Kayak
        TPE Bronze  Beijing  Beijing     4      Taekwondo  Weightlifting
        TRI Silver  Beijing  Beijing     5      Athletics      Athletics
        TUN Gold    Beijing  Beijing     1       Aquatics       Aquatics
        TUR Bronze  Beijing  Beijing     3         Boxing      Wrestling
            Gold    Beijing  Beijing     1      Wrestling      Wrestling
            Silver  Beijing  Beijing     4      Athletics  Weightlifting
        UKR Bronze  Beijing  Beijing    16       Aquatics      Wrestling
            Gold    Beijing  Beijing    10        Archery       Shooting
            Silver  Beijing  Beijing     5      Athletics      Wrestling
        USA Bronze  Beijing  Beijing    81       Aquatics      Wrestling
            Gold    Beijing  Beijing   125       Aquatics      Wrestling
            Silver  Beijing  Beijing   109       Aquatics     Volleyball
        UZB Bronze  Beijing  Beijing     3     Gymnastics           Judo
            Gold    Beijing  Beijing     1      Wrestling      Wrestling
            Silver  Beijing  Beijing     2           Judo      Wrestling
        VEN Bronze  Beijing  Beijing     1      Taekwondo      Taekwondo
        VIE Silver  Beijing  Beijing     1  Weightlifting  Weightlifting
        ZIM Gold    Beijing  Beijing     1       Aquatics       Aquatics
            Silver  Beijing  Beijing     3       Aquatics       Aquatics

                               Discipline                         \
                   count              min              max count
Edition NOC Medal
1896    AUS Gold       2        Athletics        Athletics     2
        AUT Bronze     2    Cycling Track    Cycling Track     2
            Gold       2    Cycling Track         Swimming     2
            Silver     1         Swimming         Swimming     1
        DEN Bronze     3          Fencing         Shooting     3
            Gold       1    Weightlifting    Weightlifting     1
            Silver     2         Shooting    Weightlifting     2
        FRA Bronze     2        Athletics    Cycling Track     2
            Gold       5    Cycling Track          Fencing     5
            Silver     4        Athletics          Fencing     4
        GBR Bronze     2        Athletics     Cycling Road     2
            Gold       2           Tennis    Weightlifting     2
            Silver     3        Athletics    Weightlifting     3
        GER Bronze     2      Artistic G.      Artistic G.     2
            Gold      26      Artistic G.  Wrestling Gre-R    26
            Silver     5      Artistic G.     Cycling Road     5
        GRE Bronze    22      Artistic G.  Wrestling Gre-R    22
            Gold      10      Artistic G.         Swimming    10
            Silver    20      Artistic G.  Wrestling Gre-R    20
        HUN Bronze     3        Athletics           Tennis     3
            Gold       2         Swimming         Swimming     2
            Silver     1        Athletics        Athletics     1
        SUI Gold       1      Artistic G.      Artistic G.     1
            Silver     2      Artistic G.      Artistic G.     2
        USA Bronze     2        Athletics        Athletics     2
            Gold      11        Athletics         Shooting    11
            Silver     7        Athletics         Shooting     7
        ZZX Bronze     2           Tennis           Tennis     2
            Gold       2           Tennis           Tennis     2
            Silver     2           Tennis           Tennis     2
...                  ...              ...              ...   ...
2008    SUI Gold       3     Cycling Road           Tennis     3
        SVK Bronze     1  Wrestling Free.  Wrestling Free.     1
            Gold       4  Canoe / Kayak S  Canoe / Kayak S     4
            Silver     5  Canoe / Kayak F         Shooting     5
        SWE Bronze     2          Sailing          Sailing     2
            Silver     5     Cycling Road           Tennis     5
        THA Gold       2           Boxing    Weightlifting     2
            Silver     2           Boxing        Taekwondo     2
        TJK Bronze     1             Judo             Judo     1
            Silver     1  Wrestling Free.  Wrestling Free.     1
        TOG Bronze     1  Canoe / Kayak S  Canoe / Kayak S     1
        TPE Bronze     4        Taekwondo    Weightlifting     4
        TRI Silver     5        Athletics        Athletics     5
        TUN Gold       1         Swimming         Swimming     1
        TUR Bronze     3           Boxing  Wrestling Gre-R     3
            Gold       1  Wrestling Free.  Wrestling Free.     1
            Silver     4        Athletics    Weightlifting     4
        UKR Bronze    16      Artistic G.  Wrestling Gre-R    16
            Gold      10          Archery         Shooting    10
            Silver     5        Athletics  Wrestling Free.     5
        USA Bronze    81      Artistic G.  Wrestling Gre-R    81
            Gold     125      Artistic G.  Wrestling Free.   125
            Silver   109      Artistic G.       Water polo   109
        UZB Bronze     3      Artistic G.       Trampoline     3
            Gold       1  Wrestling Free.  Wrestling Free.     1
            Silver     2             Judo  Wrestling Free.     2
        VEN Bronze     1        Taekwondo        Taekwondo     1
        VIE Silver     1    Weightlifting    Weightlifting     1
        ZIM Gold       1         Swimming         Swimming     1
            Silver     3         Swimming         Swimming     3

                                              Athlete  ...        Gender  \
                                                  min  ...  count    min
Edition NOC Medal                                      ...
1896    AUS Gold                         FLACK, Edwin  ...      2    Men
        AUT Bronze                      SCHMAL, Adolf  ...      2    Men
            Gold                        NEUMANN, Paul  ...      2    Men
            Silver                   HERSCHMANN, Otto  ...      1    Men
        DEN Bronze                      JENSEN, Viggo  ...      3    Men
            Gold                        JENSEN, Viggo  ...      1    Men
            Silver                      JENSEN, Viggo  ...      2    Men
        FRA Bronze                      FLAMENG, Léon  ...      2    Men
            Gold                        FLAMENG, Léon  ...      5    Men
            Silver                      CALLOT, Henri  ...      4    Men
        GBR Bronze                     BATTEL, Edward  ...      2    Men
            Gold                         BOLAND, John  ...      2    Men
            Silver                ELLIOTT, Launceston  ...      3    Men
        GER Bronze                     HOFMANN, Fritz  ...      2    Men
            Gold                       BÖCKER, Konrad  ...     26    Men
            Silver                     FLATOW, Alfred  ...      5    Men
        GRE Bronze              CHOROPHAS, Efstathios  ...     22    Men
            Gold             ANDRIAKOPOULOS, Nicolaos  ...     10    Men
            Silver                   ANDREOU, Joannis  ...     20    Men
        HUN Bronze                     KELLNER, Gyula  ...      3    Men
            Gold                        HAJOS, Alfred  ...      2    Men
            Silver                       DANI, Nandor  ...      1    Men
        SUI Gold                        ZUTTER, Louis  ...      1    Men
            Silver                      ZUTTER, Louis  ...      2    Men
        USA Bronze                    CONNOLLY, James  ...      2    Men
            Gold                        BURKE, Thomas  ...     11    Men
            Silver                      BLAKE, Arthur  ...      7    Men
        ZZX Bronze                       FLACK, Edwin  ...      2    Men
            Gold                         BOLAND, John  ...      2    Men
            Silver               KASDAGLIS, Dionysios  ...      2    Men
...                                               ...  ...    ...    ...
2008    SUI Gold                   CANCELLARA, Fabian  ...      3    Men
        SVK Bronze                    MUSULBES, David  ...      1    Men
            Gold                  HOCHSCHORNER, Pavol  ...      4    Men
            Silver                 RISZDORFER, Michal  ...      5    Men
        SWE Bronze                    EKSTROM, Anders  ...      2    Men
            Silver                     ASPELIN, Simon  ...      5    Men
        THA Gold    JAROENRATTANATARAKOON, Prapawadee  ...      2    Men
            Silver                 BOONJUMNONG, Manus  ...      2    Men
        TJK Bronze                      BOQIEV, Rasul  ...      1    Men
            Silver                 ABDUSALOMOV, Yusup  ...      1    Men
        TOG Bronze                 BOUKPETI, Benjamin  ...      1    Men
        TPE Bronze                     CHEN, Wei-Ling  ...      4    Men
        TRI Silver                    BLEDMAN, Keston  ...      5    Men
        TUN Gold                    MELLOULI, Oussama  ...      1    Men
        TUR Bronze                      AVLUCA, Nazmi  ...      3    Men
            Gold                       SAHIN, Ramazan  ...      1    Men
            Silver                 ABEYLEGESSE, Elvan  ...      4  Women
        UKR Bronze                    ANTONOVA, Olena  ...     16    Men
            Gold                      AYVAZYAN, Artur  ...     10    Men
            Silver                  FEDORYSHYN, Vasyl  ...      5    Men
        USA Bronze                       ALLEN, Wyatt  ...     81    Men
            Gold                       ADRIAN, Nathan  ...    125    Men
            Silver                     ABBOTT, Monica  ...    109    Men
        UZB Bronze                       FOKIN, Anton  ...      3    Men
            Gold                      TAYMAZOV, Artur  ...      1    Men
            Silver                  TANGRIEV, Abdullo  ...      2    Men
        VEN Bronze            CONTRERAS RIVERO, Dalia  ...      1  Women
        VIE Silver                    HOANG, Anh Tuan  ...      1    Men
        ZIM Gold                     COVENTRY, Kirsty  ...      1  Women
            Silver                   COVENTRY, Kirsty  ...      3  Women

                                                            Event  \
                      max count                               min
Edition NOC Medal
1896    AUS Gold      Men     2                             1500m
        AUT Bronze    Men     2                              10km
            Gold      Men     2                      12-hour race
            Silver    Men     1                    100m freestyle
        DEN Bronze    Men     3  25m rapid fire pistol (60 shots)
            Gold      Men     1       heavyweight - two hand lift
            Silver    Men     2             50m pistol (60 shots)
        FRA Bronze    Men     2                             1500m
            Gold      Men     5                             100km
            Silver    Men     4                              10km
        GBR Bronze    Men     2                              400m
            Gold      Men     2       heavyweight - one hand lift
            Silver    Men     3                      110m hurdles
        GER Bronze    Men     2                     rope climbing
            Gold      Men    26                    horizontal bar
            Silver    Men     5                              100m
        GRE Bronze    Men    22        100m freestyle for sailors
            Gold      Men    10        100m freestyle for sailors
            Silver    Men    20                             100km
        HUN Bronze    Men     3                              100m
            Gold      Men     2                    100m freestyle
            Silver    Men     1                              800m
        SUI Gold      Men     1                      pommel horse
            Silver    Men     2                     parallel bars
        USA Bronze    Men     2                              100m
            Gold      Men    11                              100m
            Silver    Men     7                             1500m
        ZZX Bronze    Men     2                           doubles
            Gold      Men     2                           doubles
            Silver    Men     2                           doubles
...                   ...   ...                               ...
2008    SUI Gold      Men     3                           doubles
        SVK Bronze    Men     1                        96 - 120kg
            Gold    Women     4                C-1 (canoe single)
            Silver  Women     5            K-4 1000m (kayak four)
        SWE Bronze    Men     2                   Star - Keelboat
            Silver  Women     5                           doubles
        THA Gold    Women     2             48 - 51kg (flyweight)
            Silver  Women     2                           - 49 kg
        TJK Bronze    Men     1           66 - 73kg (lightweight)
            Silver    Men     1                         74 - 84kg
        TOG Bronze    Men     1                K-1 (kayak single)
        TPE Bronze  Women     4                           - 58 kg
        TRI Silver    Men     5                              100m
        TUN Gold      Men     1                   1500m freestyle
        TUR Bronze    Men     3         54 - 57kg (featherweight)
            Gold      Men     1                         60 - 66kg
            Silver  Women     4                            10000m
        UKR Bronze  Women    16        + 91kg (super heavyweight)
            Gold    Women    10  25m rapid fire pistol (60 shots)
            Silver  Women     5                            + 75kg
        USA Bronze  Women    81                            10000m
            Gold    Women   125                            - 55kg
            Silver  Women   109                   100m backstroke
        UZB Bronze  Women     3                           - 60 kg
            Gold      Men     1                        96 - 120kg
            Silver    Men     2             + 100kg (heavyweight)
        VEN Bronze  Women     1                           - 49 kg
        VIE Silver    Men     1      - 56kg, total (bantamweight)
        ZIM Gold    Women     1                   200m backstroke
            Silver  Women     3                   100m backstroke

                                                             Event_gender      \
                                                   max count          min max
Edition NOC Medal
1896    AUS Gold                                  800m     2            M   M
        AUT Bronze                      1km time trial     2            M   M
            Gold                        400m freestyle     2            M   M
            Silver                      100m freestyle     1            M   M
        DEN Bronze                    sabre individual     3            M   M
            Gold           heavyweight - two hand lift     1            M   M
            Silver         heavyweight - one hand lift     2            M   M
        FRA Bronze                     Sprint indivual     2            M   M
            Gold                       foil individual     5            M   M
            Silver                         triple jump     4            M   M
        GBR Bronze                individual road race     2            M   M
            Gold                               singles     2            M   M
            Silver         heavyweight - two hand lift     3            M   M
        GER Bronze                               vault     2            M   M
            Gold                                 vault    26            M   M
            Silver                               rings     5            M   M
        GRE Bronze                         triple jump    22            M   M
            Gold                      sabre individual    10            M   M
            Silver                 team, parallel bars    20            M   M
        HUN Bronze                             singles     3            M   M
            Gold                       1200m freestyle     2            M   M
            Silver                                800m     1            M   M
        SUI Gold                          pommel horse     1            M   M
            Silver                               vault     2            M   M
        USA Bronze                           long jump     2            M   M
            Gold                           triple jump    11            M   M
            Silver                          pole vault     7            M   M
        ZZX Bronze                             doubles     2            M   M

In [110]:
df.groupby(['Edition', 'NOC', 'Medal']).agg(['count'])

                    City Sport Discipline Athlete Gender Event Event_gender
                   count count      count   count  count count        count
Edition NOC Medal
1896    AUS Gold       2     2          2       2      2     2            2
        AUT Bronze     2     2          2       2      2     2            2
            Gold       2     2          2       2      2     2            2
            Silver     1     1          1       1      1     1            1
        DEN Bronze     3     3          3       3      3     3            3
            Gold       1     1          1       1      1     1            1
            Silver     2     2          2       2      2     2            2
        FRA Bronze     2     2          2       2      2     2            2
            Gold       5     5          5       5      5     5            5
            Silver     4     4          4       4      4     4            4
        GBR Bronze     2     2          2       2      2     2            2
            Gold       2     2          2       2      2     2            2
            Silver     3     3          3       3      3     3            3
        GER Bronze     2     2          2       2      2     2            2
            Gold      26    26         26      26     26    26           26
            Silver     5     5          5       5      5     5            5
        GRE Bronze    22    22         22      22     22    22           22
            Gold      10    10         10      10     10    10           10
            Silver    20    20         20      20     20    20           20
        HUN Bronze     3     3          3       3      3     3            3
            Gold       2     2          2       2      2     2            2
            Silver     1     1          1       1      1     1            1
        SUI Gold       1     1          1       1      1     1            1
            Silver     2     2          2       2      2     2            2
        USA Bronze     2     2          2       2      2     2            2
            Gold      11    11         11      11     11    11           11
            Silver     7     7          7       7      7     7            7
        ZZX Bronze     2     2          2       2      2     2            2
            Gold       2     2          2       2      2     2            2
            Silver     2     2          2       2      2     2            2
...                  ...   ...        ...     ...    ...   ...          ...
2008    SUI Gold       3     3          3       3      3     3            3
        SVK Bronze     1     1          1       1      1     1            1
            Gold       4     4          4       4      4     4            4
            Silver     5     5          5       5      5     5            5
        SWE Bronze     2     2          2       2      2     2            2
            Silver     5     5          5       5      5     5            5
        THA Gold       2     2          2       2      2     2            2
            Silver     2     2          2       2      2     2            2
        TJK Bronze     1     1          1       1      1     1            1
            Silver     1     1          1       1      1     1            1
        TOG Bronze     1     1          1       1      1     1            1
        TPE Bronze     4     4          4       4      4     4            4
        TRI Silver     5     5          5       5      5     5            5
        TUN Gold       1     1          1       1      1     1            1
        TUR Bronze     3     3          3       3      3     3            3
            Gold       1     1          1       1      1     1            1
            Silver     4     4          4       4      4     4            4
        UKR Bronze    16    16         16      16     16    16           16
            Gold      10    10         10      10     10    10           10
            Silver     5     5          5       5      5     5            5
        USA Bronze    81    81         81      81     81    81           81
            Gold     125   125        125     125    125   125          125
            Silver   109   109        109     109    109   109          109
        UZB Bronze     3     3          3       3      3     3            3
            Gold       1     1          1       1      1     1            1
            Silver     2     2          2       2      2     2            2
        VEN Bronze     1     1          1       1      1     1            1
        VIE Silver     1     1          1       1      1     1            1
        ZIM Gold       1     1          1       1      1     1            1
            Silver     3     3          3       3      3     3            3

[2356 rows x 7 columns]

In [111]:
df.groupby(['Edition', 'NOC', 'Medal']).agg({'Edition' : ['count']})

                   Edition
                     count
Edition NOC Medal
1896    AUS Gold         2
        AUT Bronze       2
            Gold         2
            Silver       1
        DEN Bronze       3
            Gold         1
            Silver       2
        FRA Bronze       2
            Gold         5
            Silver       4
        GBR Bronze       2
            Gold         2
            Silver       3
        GER Bronze       2
            Gold        26
            Silver       5
        GRE Bronze      22
            Gold        10
            Silver      20
        HUN Bronze       3
            Gold         2
            Silver       1
        SUI Gold         1
            Silver       2
        USA Bronze       2
            Gold        11
            Silver       7
        ZZX Bronze       2
            Gold         2
            Silver       2
...                    ...
2008    SUI Gold         3
        SVK Bronze       1
            Gold         4
            Silver       5
        SWE Bronze       2
            Silver       5
        THA Gold         2
            Silver       2
        TJK Bronze       1
            Silver       1
        TOG Bronze       1
        TPE Bronze       4
        TRI Silver       5
        TUN Gold         1
        TUR Bronze       3
            Gold         1
            Silver       4
        UKR Bronze      16
            Gold        10
            Silver       5
        USA Bronze      81
            Gold       125
            Silver     109
        UZB Bronze       3
            Gold         1
            Silver       2
        VEN Bronze       1
        VIE Silver       1
        ZIM Gold         1
            Silver       3

[2356 rows x 1 columns]

In [112]:
df.groupby(['Edition', 'NOC']).agg({'Edition' : ['count']})

            Edition
              count
Edition NOC
1896    AUS       2
        AUT       5
        DEN       6
        FRA      11
        GBR       7
        GER      33
        GRE      52
        HUN       6
        SUI       3
        USA      20
        ZZX       6
1900    AUS       5
        AUT       6
        BEL      39
        BOH       2
        CAN       2
        CUB       2
        DEN       6
        ESP       2
        FRA     185
        GBR      78
        GER      40
        HUN       5
        IND       2
        ITA       4
        NED      20
        NOR       9
        SUI      15
        SWE       1
        USA      55
...             ...
2008    NGR      24
        NOR      22
        NZL      14
        PAN       1
        POL      20
        POR       2
        PRK       6
        ROU      22
        RSA       1
        RUS     143
        SIN       3
        SLO       5
        SRB      15
        SUD       1
        SUI      11
        SVK      10
        SWE       7
        THA       4
        TJK       2
        TOG       1
        TPE       4
        TRI       5
        TUN       1
        TUR       8
        UKR      31
        USA     315
        UZB       6
        VEN       1
        VIE       1
        ZIM       4

[1072 rows x 1 columns]